[2016-05-02 10:16] schuer opened #1 "Diskussion: Wie implementieren?"
Hey,

ich habe mir ein paar lose Gedanken zum Addon gemacht, die ich gern besprechen würde.
- Eine Generierung der Inhalte (structure) vorab ist eigentlich unnötig, weil dies nur sehr wenig Zeit benötigt, oder?
- Gleiches gilt für die URLs (yrewrite).
- Relevant sind eigentlich nur die Bilder (media manager), denn die benötigen viel Zeit. Zudem kann hier potentiell was schiefgehen, wenn z. B. zu w

[2016-05-02 10:20] schuer opened #2 "Diskussion: Name des Addons"
Der Name ist nur ein Schnellschuss und darf gern als provisorisch angesehen werden.
Weiß jemand einen besseren?

[2016-05-02 10:30] gharlan commented on #1
Ich hätte jetzt gesagt: Wenn schon, denn schon.
Wobei man auch ruhig mit dem MediaManager beginnen kann, und das dann noch später einbauen könnte.

Wie man aber nun am besten vorgeht beim MM, da bin ich mir unsicher. Ich fände es nicht so schön, wenn einfach für alle Typen die Bilder generiert werden würden, obwohl vielleicht ein Typ eigentlich nur für ganz bestimmte Bilder vorgesehen ist.

Auch z

[2016-05-02 10:38] skerbis commented on #1
media1-10 und medialist1-10 praktisch wäre, wenn man diesen bereits den Mediatyp übergeben könnte. Dann kann das Anlegen der Caches für die ausgewählten Medien bereits direkt erfolgen.
 REX_MEDIA[id=1 widget=1 preview=1 mediatypes=XYZ,ZXY]

[2016-05-02 10:39] phoebusryan commented on #1
Variante 1 ist aus meiner Sicht die beste. Man braucht dafür keine EPs oder Hacks oder sowas und hat zusätzlich nur die Bilder generiert, die auf der Webseite wirklich benötigt wurden. Das Thema hatten wir ja schon mal und ein Crawler, der alle Unterseiten aufruft, habe ich bereits (für mein Sphider-Addon). Nachteil (aktuell noch), dass Seiten die offline oder geschützt sind (Stichwort Userbereich

[2016-05-02 11:04] schuer commented on #1
Kommt sowas wirklich vor? Ich kenne es nur so, dass Mediatypen passend zum Layout eingesetzt werden, damit Bilder gut in Spalten oder Grids oder Lightboxen oder was auch immer passen. Heutzutage benötigt man ja auch gar nicht mehr allzu viele davon, weil man Bilder aus verschiedenen Gründen (etwa Responsive, HiDPI) nicht mehr pixelgenau ausgibt, sondern per CSS skaliert. Normalerweise sollte eine

[2016-05-02 11:06] schuer commented on #1
Den Crawler hatten wir im Zusammenhang mit der Suche. Dort ist er sehr sinnvoll. In Fall des Cache-Generierens allerdings halte ich den Zugriff »von außen« als nicht sonderlich sinnvoll, weil der Zugriff von innen ja bereits vollständig zur Verfügung steht und viel einfacher und performanter ist.
Oder?

[2016-05-02 11:11] gharlan commented on #1
Ich muss gestehen, dass ich es nicht einschätzen kann, da ich mit dem Thema wenig zu tun habe.

Man könnte auch erstmal den Weg gehen, und schauen, wie er sich in der Praxis macht.

[2016-05-02 11:17] skerbis commented on #1
Ich baue aktuell einen neue Webpräsenz für einen Fotografen. Wenn hier alle Bilder in allen möglichen Medientypen vorgeneriert werden bekomme ich sicher ein Platzproblem. Es gibt Medientypen für Slides, Parallax, Tumbs, 2x 3x 4x Retina, verschiedne Crops etc.  ... da sammelt sich was. Aktuell hat er ca. 1000 Fotos auf der Seite. Die Ausgangsbilder sind auch nicht gerade klein.

[2016-05-02 11:20] schuer commented on #1
@skerbis, okay, damit hast du gerade den Worst Case definiert. Jetzt müssen wir irgendwie aus der Nummer rauskommen ;)

[2016-05-02 11:23] gharlan commented on #1
Man könnte es auch so machen, dass man optional pro MP-Kategorie manche Typen ausschließen kann, oder auf manche Typen beschränken. Oder irgendwas in der Richtung.

[2016-05-02 11:41] staabm commented on #1
Wenn man das frontend crawled hat es den vorteil dass alle caches generiert werden (nicht nur media manager) und zugleich dass nur die generiert werden welche auch verwendet sind.

Man müsste sicherstellen dass der crawler alle rechte hat und auch seiten hinter einem login besucht etc

[2016-05-02 11:47] schuer commented on #1
@staabm, aber wird das nicht kompliziert im Hinblick auf yforms/community? Ich fände es schade, wenn man die auslassen oder nur halbherzig beachten würde, denn auf manchen Websites bilden sie u. U. den Großteil des Datenbestands ab.

[2016-05-02 12:04] skerbis commented on #1
Gibt es einen Funktionsaufruf der es ermöglicht in einem Slice die URL für den Medientyp zu generieren und so evtl. dann den Cache auch gleich mit zu erzeugen?  Sowas wie  mediamanagerurl(''bildxy.jpg, "thumb");  - Das könnte doch bei den Blöcken evtl. hilfreich sein. (Denn oft befinden sich diese nicht in eine A-Tag)

[2016-05-02 12:36] staabm commented on #1
welches Problem siehst du konkret?

[2016-05-02 13:03] schuer commented on #1
Der Crawler würde nur Links folgen. Sollten Inhalte nicht verlinkt sein oder auf wundersamen proprietären Wegen geschützt sein — REDAXO ist bekanntlich ein großes Feld für Bastler ;) —, so dass der Crawler nicht rankommt, würde hier der Cache nicht generiert.

Mir scheint, der Weg von innen wäre deutlich robuster.

[2016-05-02 13:06] staabm commented on #1
hmm die Rechte geschichte könnte durchaus knifflig werden.

würdest du also eher ein weg gehen wie es das cron addon tut.. eine api definieren wie andere addons sich in den mechanismus einklinken können und dann deren adapter mitbenutzen.

[2016-05-02 13:14] schuer commented on #1
@staabm Das kann ich nicht beurteilen. Aber ich würde es gerne schlicht und robust machen. Aktuell scheint mir am sinnvollsten zu sein, die Datenbank auf Vorkommen von Medien in allen Bereichen zu filtern und diese in allen Varianten zu generieren — sofern es keine sinnvolle Möglichkeit gibt, herauszufinden, welche Mediatypes pro Medium verwendet werden.

Aber ich denke, das könnt ihr Core-Devs —

[2016-05-02 14:26] eaCe commented on #2
Würde zumindest noch das Wort "cache" hinzufügen, damit man direkt versteht um was es geht.

[2016-05-02 14:26] staabm commented on #2
im symfony umfeld heißen diese dinger CacheWarmer

[2016-05-03 08:04] gharlan commented on #2
Wobei das die einzelnen Dinger sind, die Gesamtaktion nennt sich dann auch warmup (es gibt den Befehl `bin/console cache:warmup`).
Ich wäre wohl für cache-warmup oder so ähnlich.

[2016-05-03 11:19] schuer commented on #2
Okay, also neuer Vorschlag: **Cache Warm-up**.
(Rechtschreibung: Warm-up schreibt man mit Bindestrich. Auch wenn es ohne irgendwie schöner aussähe.)

[2016-05-03 11:21] gharlan commented on #2
Bist du sicher? Ich glaube, es geht beides: http://www.dictionary.com/browse/warmup?s=t

[2016-05-03 12:06] schuer commented on #2
Hm, ohne Bindestrich scheint eine Art Fallback zu sein. Alle Quellen, die ich bisher gesehen habe, hatten mit Bindestrich.
Aber umso besser, dann machen wir **Cache-Warmup**? Oder Cache Warmup?

[2016-05-03 12:47] gharlan commented on #2
Wie schon auf skype geschrieben, werden Addonnamen (also der Addonkey) in der Regel klein geschrieben, daher würde ich das wohl beibehalten (auch weil der Ordner ja genauso heißen muss).
Bisher ist eher ein Unterstrich statt Bindestrich üblich, fände den Bindestrich aber eigentlich schöner. Ist mir aber eigentlich auch egal.

[2016-05-03 14:33] #2 closed, assigned to nobody

[2016-05-03 14:35] schuer commented on #2
Das Repo heißt also `cache-warmup`, und der Addon-Titel ist »Cache-Warmup«.

Ich schließe das jetzt einfach mal direkt, damit wir nicht lange rumreden. Wer unbedingt einen anderen Namen will, öffne das Ticket wieder ;)

[2016-05-04 07:20] schuer commented on #1
Hey,
ich habe gestern nochmal überlegt und bin der Meinung, dass wir Variante 3 umsetzen sollten: Alle Bilder erfassen und in allen Mediatypes generieren. Das ist die einfachste und sicherste Lösung, denn damit werden alle verwendeten Bilder — und nur die — erfasst.

Die anderen Varianten erfordern ein Crawlen und/oder Parsen der Inhalte, und ich denke, damit wird man nie zuverlässig alle verwende

[2016-05-05 08:39] tbaddade commented on #1
Ich habe zwar keine andere Idee, aber Variante 3 finde ich nicht wirklich gut.
Stell dir vor, du hast einen Fullscreenslider der nur für bestimmte Bilder gedacht ist, die entsprechend groß (3 MB) hochgeladen wurden. Alle kleineren Inhaltsbilder, die ebenfalls aber kleiner hochgeladen wurden (300kb), werden jetzt für diesen Typ angelegt. Das könnte heißen das die kleineren Bilder hochskaliert werde

[2016-05-09 11:43] schuer commented on #1
Als ich Thomas’ Kommentar bemerkt habe, hatte ich bereits tief im Code gewühlt und irgendwie Lust, das alles noch weiter zu testen. Herausgekommen ist dabei das hier: https://github.com/FriendsOfREDAXO/cache-warmup/pull/4#issuecomment-217839287

Thomas, ich finde dein Argument sehr schlüssig, dass man nicht alle Bilder als Fullscreenslider-Variante generieren möchte. Andererseits habe ich — spezie

[2016-05-17 10:24] schuer commented on #1
Ich habe das Addon nun finalisiert und eine erste Beta zum Testen erstellt: https://github.com/FriendsOfREDAXO/cache-warmup/releases/tag/1.0-beta1

[2016-05-17 10:25] skerbis commented on #1
Sehr geehrte Kunden,

vom 14.05.2015 bis einschließlich 29.05.2015 bin ich nicht im Büro.
Ihre E-Mail kann daher leider erst nach meiner Rückkehr bearbeitet werden.

In dringenden Fällen wenden Sie sich bitte an die Zentrale unter
0 28 41 / 88 99 98 - 0 oder per E-Mail an info@klxm.de.

- Eingehende E-Mails werden nicht weitergeleitet!

Mit freundlichen Grüßen

Thomas Skerbis

____________________

[2016-05-18 07:54] schuer opened #6 "Kontext für Subpage system.cache-warmup (REX-5.0-Kompatibilität)"
In REX 5.0 fehlt der Kontext für `$this` in `system.cache-warmup.php`.

Erst mit REX 5.1 kam die Anpassung »[Subpages immer im richtigen Kontext (package) einbinden](https://github.com/redaxo/redaxo/commit/26cc62a6e9fa3fc70c8c9681e371249fd00ade06#diff-4828640a36fc1334bdf037a02d9b63e1)«.

[2016-05-18 07:58] staabm commented on #6
ggf. solltest du einfach min rex 5.1 in der package.yml definieren. 5.0 ist vermutlich noch nicht so weit verbreitet.

[2016-05-18 08:09] schuer commented on #6
@staabm Haben wir gestern auch überlegt. Aber der Fix ist ja sehr schlicht, und der Rest des Addons ist auch 5.0-tauglich, insofern ist es sicherlich schöner, 5.0 mit einzubeziehen.

[2016-05-18 08:17] schuer opened #7 "Bilder werden in manchen Umgebungen zu groß generiert"
Ich kann noch nicht genau beschreiben, woran es liegt und was da genau passiert. Es ist nur so, dass bei einer Installation, die ich hier lokal vorliegen habe, die Bilder zu groß generiert werden. Es wirkt so, als würden die Mediatypes nicht beachtet und jedes Bild in voller Größe generiert.

Der Cache-Warmup läuft fehlerfrei durch, aber ruft man danach den Medienpool auf, werden alle Thumbnails,

[2016-05-18 08:21] #6 closed, assigned to schuer

[2016-05-18 12:23] #7 closed, assigned to nobody

[2016-05-18 12:27] schuer commented on #7
Ich hatte die Klasse `rex_managed_media` des Media Managers extended, um vor allem die Ausgabe des generierten Bildes zu verhindern. Das war irgendwie Käse.

Ich habe die Klasse nun entfernt und kleine Anpassungen an der Klasse `cache_warmup_media_manager` (extends `rex_media_manager`) vorgenommen. Zudem prüfe ich nun die Response des AJAX-Requests in anderer Form, um einen Überlauf des Speichers

[2016-05-18 15:40] schuer opened #10 "JS-Fehler & Popup-Größe"
- Fehler im JavaScript verhindern die Ausführung in Safari.
- Das Popup öffnet im Safari in zu geringer Höhe, so dass Inhalte scollen.

[2016-05-18 15:41] #10 closed, assigned to schuer

[2016-05-25 11:23] schuer commented on #1
Update: Es gibt inzwischen einige weitere Releases unter https://github.com/FriendsOfREDAXO/cache_warmup/releases/

[2016-06-02 16:32] schuer commented on #1
Das Release für Version 1.0.0 liegt vor, deshalb würde ich die Diskussion hiermit vorerst beenden. Wenn ihr vorhabt, die Implementierung in eine andere Richtung zu bringen, macht gern ein neues Issue auf.

[2016-06-02 16:32] #1 closed, assigned to nobody

[2016-06-09 13:12] schuer opened #18 "Media Manager: Output Buffer leeren"
Diese Anpassung sollte der Vollständigkeit halber auch im Cache-Warmup nachgezogen werden:
https://github.com/redaxo/redaxo/issues/703

[2016-06-15 10:09] AWqxKAWERbXo opened #19 "Systemlog: Deprecated-Meldung generateCache()"
Non-static method cache_warmup_generator_pages::generateCache() should not be called statically, assuming $this from incompatible context
redaxo/src/addons/cache_warmup/pages/generator.php
Zeile 17

[2016-06-15 10:41] schuer opened #20 "JavaScript: CS"
Es sind mir ein paar Dinge durchgerutscht, die ich bei Gelegenheit verbessern könnte:
- Private members in externen Kontexten (vor allem `_config`)
- Benamung: `parent` passt nicht zu einer Instanz, die als Parameter erwartet wird
- JSDoc teilweise unvollständig, Parameter fehlen

[2016-06-16 15:06] schuer commented on #18
Besser nicht, schmeißt einen Haufen Warnings und ist im Kontext dieses Addons unnötig.

[2016-06-16 15:06] #18 closed, assigned to nobody

[2016-06-16 15:17] #20 closed, assigned to schuer

[2016-06-16 15:18] #19 closed, assigned to nobody

[2016-06-16 15:18] schuer commented on #19
Danke, @alexplusde !

[2016-08-17 23:48] aeberhard opened #23 "Leeres Popup wenn keine Artikel / Bilder vorhanden sind"
Oh, der erste Issue :)

[2016-08-17 23:53] aeberhard opened #24 "Warnings im Systemlog"
Jede Menge Warnings im Systemlog
`Cannot modify header information - headers already sent by`

Vielleicht kann man das durch

[code]

unterdrücken ...

[2016-08-18 07:03] staabm commented on #24
Steht im log an welcher stelle der output schon gestartet wurde?

[2016-08-18 08:18] aeberhard commented on #24
![image](https://cloud.githubusercontent.com/assets/330560/17766792/2056bf5e-652d-11e6-828b-cb10349f8958.png)

[2016-08-18 08:27] AWqxKAWERbXo commented on #23
@aeberhard Glückwunsch zu deinem ersten Issue. Du wirst sehen, das macht sehr viel Spaß hier auf Github :)

[2016-08-18 08:32] eaCe opened #25 "Fehler wenn ein Bild z.B. in den Sprachen abgelegt wird"
Wenn man ein clang_-Bild anlegt bekommt man einen Fehler:

Error while executing statement "SELECT clang_test FROM rex_article"! SQLSTATE[42S22]: Column not found: 1054 Unknown column 'clang_test' in 'field list'

[2016-08-18 08:41] AWqxKAWERbXo commented on #25
Wie meinst du das? Ist das ein Meta-Feld, was du für Artikel angelegt hast? Dann heißt das Feld doch eig. ohnehin `art_clang_test`. Oder hast du einer Sprache ein Meta-Feld zugewiesen? Dann müsste der Befehl ja `...FROM rex_clang` lauten.

[2016-08-18 08:41] schuer commented on #23
Na endlich ist mal ein bisschen was los hier. Danke, @aeberhard :)

Ich habe gerade mal kurz drüber geschaut und bemerkt, dass ich beim Config-JSON, das die zu generierenden Bilder und Seiten enthält, etwas zu nachlässig war. Seine Struktur ist inkonsistent, wenn mal keine Bilder oder Seiten vorhanden sind, so wie in deinem Fall.

Das würde ich gerne in Ruhe überarbeiten, nur leider ist ab morgen

[2016-08-18 08:44] eaCe commented on #25
Der Sprache ist das Meta-Feld zugewiesen. Warum der Fehler auf article referenziert, weiß ich auch nicht :)

[2016-08-18 08:47] aeberhard commented on #23
@schuer Dann mal einen schönen Urlaub Dirk!!

@alexplusde ich meinte den ersten Issue hier beim cache_warmup :)

[2016-08-18 09:10] AWqxKAWERbXo commented on #25
Wenn ich das überfliege, liegt es daran, dass angenommen wird, Bilder in meta-Infos wären immer nur einem Artikel (oder eine Kategorie, die ja ein Artikel ist) zugewiesen.

https://github.com/FriendsOfREDAXO/cache_warmup/blob/6c28d26bf800044bfde82bc74eea3cf331a49c54/lib/selector.php#L106

[2016-08-18 11:29] schuer commented on #25
Ich sag nur: https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L26

Danke für den Hinweis!

[2016-08-18 11:57] schuer commented on #24
Das Addon benutzt die `rex_media_manager`-Klasse aus dem media_manager. Dort fliegen die Warnings.

Besteht hier Handlungsbedarf für Cache-Warmup? Für mein Empfinden nicht, aber ich bin gespannt auf Meinungen von @gharlan und @staabm.

[2016-08-18 12:03] schuer commented on #23
Nicht wundern, mir brannte es jetzt doch unter den Nägeln, die Bugfixes noch vorm Urlaub einzuschieben…

[2016-08-18 12:15] #23 closed, assigned to schuer

[2016-08-18 12:15] #25 closed, assigned to schuer

[2016-08-18 12:58] staabm commented on #24
Wo rufst du sendMedia() auf?

https://github.com/redaxo/redaxo/blob/master/redaxo/src/addons/media_manager/lib/managed_media.php#L134

[2016-08-18 13:37] schuer commented on #24
Es wird nur `media_manager` verwendet, nicht `managed_media`, siehe https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/media_manager.php

[2016-08-18 13:42] staabm commented on #24
Ahh hier ist es https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/media_manager.php#L24

[2016-08-18 13:43] staabm commented on #24
Durch sendMedia() startest du die ausgabe

[2016-08-18 13:46] schuer commented on #24
Ja, aber das, was dann passiert, ist ja Teil des media_managers, nicht mehr Teil von Cache-Warmup, oder sehe ich das falsch? Für mein Empfinden müsste dann im Cache-Warmup keine Warnings unterbunden werden.

[2016-08-18 15:34] staabm commented on #24
Wenn man sendImage() aufruft ist zu erwarten dass output passiert. D.h. Danach kannst du mit deinem addon keine anderen header mehr senden

[2016-08-21 17:23] schuer commented on #24
Ich habe nochmal nachgedacht, und das Problem ist folgendes:
- der Output kommt vom media_manager (siehe [managed_media.php#L159-L162](https://github.com/redaxo/redaxo/blob/master/redaxo/src/addons/media_manager/lib/managed_media.php#L159-L162)). Dort ist er auch sinnvoll, denn wie @staabm schon sagt: man will dort ja Output.
- im Cache-Warmup ist der Output nicht sinnvoll, denn das möchte nur Cac

[2016-09-13 13:58] schuer commented on #24
Bin übrigens wieder da und gespannt auf eure Meinungen :)

[2016-10-07 06:30] schuer opened #28 "Bilder innerhalb der Metainfos für Benutzer"
Nur als Reminder, falls das implementiert werden sollte: https://github.com/redaxo/redaxo/issues/853

[2016-10-10 12:32] schuer commented on #24
Habe mir das Thema nochmal vorgenommen: Anders als oben beschrieben darf das Addon den Output doch gerne vollständig unterbinden, denn es gibt eigentlich nur einen relevanten Fehler — wenn zuwenig RAM verfügbar ist, um das Cachefile eines Bilds zu generieren —, und der fliegt in jedem Fall.

Das bedeutet: Macht die Page eine Ausgabe (beginnt immer mit `<header class="rex-page-header`, weil aktuell

[2016-10-10 12:33] #24 closed, assigned to nobody

[2017-01-18 19:51] staabm opened #32 "Min php version?"
wie ist die min php version für das cache warmup addon? Sollte in der package.yml definiert sein..

[2017-01-18 21:55] schuer opened #36 "Falsche SQL-Query beim Selektieren von Bildern"
https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L111

Das `FROM` über mehrere Tabellen lässt natürlich den Speicher explodieren. Hier sollte stattdessen jede Tabelle einzeln durchlaufen werden.

Danke @isospin @staabm @gharlan und Slack!

[2017-01-19 08:07] staabm opened #37 "Mit keys statt values arbeiten um den speicherbedarf zu reduzieren"
aktuell arbeiten wir in https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php mit einem array was gefüllt wird und am ende mittels `array_unique()` duplikate entfernt werden.

`array_unique` auf große arrays ist speicheritensiv.

-> anstatt die array values zu füllen könnte man auch mit keys arbeiten, da sich diese autom. überschreiben und so erst gar keine duplikate entsteh

[2017-01-19 11:17] schuer opened #38 "Beschreibungstext auf Addon-Seite ergänzen"
Nur eine Kleinigkeit für `page=system/cache-warmup`. Der Text könnte noch etwas hilfreicher sein:

[2017-01-19 21:58] schuer commented on #37
Gerade mal einen Test mit `array_unique` auf der Website gemacht, auf der der Speicherüberlauf passiert ist.

Items: 8481
Items nach `array_unique`: 1341
Speicher verbraucht: 528440 bytes

Ist jetzt nicht so wild, oder? Sollten wir den Code wie von @staabm beschrieben anpassen oder lieber so lassen?

[2017-01-19 22:05] schuer commented on #37
Oh, spannend: Wenn man hingegen den kompletten Flow trackt, also vom Beginn aller Queries über das Befüllen des Arrays und der späteren Filterung, ist der Speicherverbrauch etwa so:

Vorher: ~5 MB
Nachher: ~1,8 MB

Das spricht deutlich für Markus’ Anpassung, was? Vor allem, weil sie blitzschnell gemacht ist.

[2017-01-19 22:11] schuer commented on #37
Sorry, doch nicht. Hatte versehentlich die Prüfungen auf `$media->isImage()` ausgeklammert, und das war leider der wesentliche Faktor, der den Speicher so sehr reduziert hat. Kommt die Prüfung wieder rein, ergibt sich leider kein merklicher Unterschied zwischen der Vorher-Variante und der Nachher-Variante. Beide benötigen ~5 MB.

[2017-01-19 22:26] schuer commented on #37
Entschuldigt bitte, dass ich mir hier einen Wolf schreibe, aber: Verwirft man die Mediainstanz nach jeder Prüfung mittels `rex_media::clearInstance($item);`, schrumpft der Speicherverbrauch in beiden Varianten auf besagte ~1,8 MB. 🎉

(Siehe Kommentar von @gharlan in https://github.com/FriendsOfREDAXO/cache_warmup/commit/541f1daa04e07d82e98cc5ee5526f269f162cdd6#commitcomment-20528983)

[2017-01-19 22:28] staabm commented on #37
Dann weg mit den instanzen :-)

[2017-01-19 22:30] staabm commented on #37
Sobald wir erstmal an einem punkte sind wo es für große installation gut funktioniert brauch man ja nicht dann jede kleinigkeit ändern.

Wg instance pool wuerd ich noch reinmachen und sonst nur wirklich gut messbares

[2017-01-19 22:30] schuer commented on #37
Finde ich auch. Instanzen kommen morgen rein und dann gibt’s ein neues Release.

[2017-01-20 08:21] tbaddade opened #43 "Falsche Anzahl der Artikel"
Hier werden alle Artikel aller Sprachen geholt.
https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L230

Anschließend wird für jedes Result zusätzlich jede Sprache hinzugefügt.
https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L246

Das ergibt bei 2 Sprachen die doppelte Anzahl von `$items`.

[2017-01-20 08:28] staabm commented on #43
hmm sieht so aus als könnte man sich die loop über die sprachen komplett sparen, oder?

[2017-01-20 08:33] tbaddade commented on #43
Denke ich auch. Im Query müsste aber zusätzlich ein Join auf die Sprachen, da aktuell nur Sprachen die online sind berücksichtigt werden.

Diese Methode könnte dann gelöscht werden
https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L269

[2017-01-20 09:11] schuer commented on #37
WONTFIX, hat aber viele Erkenntnisse gebracht. Danke! :)

[2017-01-20 09:11] #37 closed, assigned to schuer

[2017-01-20 09:12] #38 closed, assigned to schuer

[2017-01-20 09:12] #32 closed, assigned to schuer

[2017-01-20 09:12] #36 closed, assigned to schuer

[2017-01-20 12:05] schuer commented on #43
Danke!

[2017-01-20 12:19] schuer commented on #43
https://github.com/FriendsOfREDAXO/cache_warmup/commit/13de2680ae5af9efff147d53ebb479da743dd3b1#commitcomment-20552422

[2017-01-20 12:19] staabm commented on #43
naja wenn wir jetzt nicht mal ne redaxo installation mit 100.00 artikel und zig mediatypes "aufwärmen" können ;-)

[2017-01-20 12:20] schuer commented on #43
…die bei Rüdiger hostet und der schimpft dann, wenn der Server unter der Last zusammenbricht ;)

[2017-01-20 16:07] #43 closed, assigned to nobody

[2017-01-25 16:40] schuer opened #48 "Exception in R <5.1 wegen fehlendem Feature 'Status (online/offline) für Sprachen'"
Erst mit REDAXO 5.1 ist **Status (online/offline) für Sprachen** (siehe [Release-Info](https://github.com/redaxo/redaxo/releases/tag/5.1.0)) hinzugekommen, Cache-Warmup prüft jedoch das Feature vorher nicht, so dass in Versionen <5.1 eine Exception fliegt:

```Error while executing statement using params [1,1]! SQLSTATE[42S22]: Column not found: 1054 Unknown column 'c.status' in 'where clause'```

[2017-01-25 16:54] staabm commented on #48
👍 für feature test

[2017-01-25 17:01] tbaddade commented on #48
Wäre dafür die REDAXO Min-Version hochzusetzen. Allein, damit die Leute auch den Core aktualisieren.

[2017-01-25 19:07] staabm commented on #48
Es wird einige geben die den core nicht einfach updaten können, aber sich dennoch/erst recht über eine funktionierende r5.0/5.1 version freuen würden.

Solange es keinen grund gibt technisch die min version zu erhöhen würde ich definitiv nen feature-test einbauen.

[2017-01-25 22:10] schuer commented on #48
Ich verstehe @tbaddade s Intention, bin aber bei Markus’ Meinung, dass das Addon nicht dafür herhalten sollte, Nutzer:innen zum Update zu drängen. Habe deshalb einen PR gemacht.

[2017-01-25 22:20] #48 closed, assigned to nobody

[2017-02-09 09:54] schuer opened #50 "Compat: Anpassungen für R 5.3 übernehmen"
Media Manager: Fehlende Methode zur Referenzierung von generiertem Bild
https://github.com/redaxo/redaxo/issues/707

Commit: https://github.com/redaxo/redaxo/commit/e156f08a0631873c7a63174dafe16b1d89908284

[2017-02-09 10:04] staabm commented on #50
FYI: in meinen Augen muss die Anpassung im rex-core überarbeitet werden, damit addons sich genau deswegen nicht anpassen müssen... innerhalb eines normalen minor-releases sollten solche BC breaks nicht enthalten sein.

[2017-02-09 19:55] gharlan commented on #50
Es fehlt hier im Addon übrigens die Abhängigkeit zum media_manager, etwas wie `^2.0`.
Denn sollten wir BC brechen, würden wir die Version des Addons auf 3.0 anheben.
Und wenn hier im Addon dann eine Versionsbedingung wie oben drin wäre, dann würde das Core-Update abgelehnt werden, wenn man cache_warmup in einer nicht kompatiblen Version hat.

[2017-02-09 20:57] schuer commented on #50
@gharlan Ich hatte die Abhängigkeit zum media_manager mal drin (siehe [Commit](https://github.com/FriendsOfREDAXO/cache_warmup/commit/219400a246b5a494d4ecda3b9895a4097cb6792e#diff-0d40a7e304bb04123a05f78b520b0e0e)), habe sie aber deshalb entfernt, weil ich davon ausgegangen bin, dass der media_manager nicht zwangsläufig für jede REDAXO-Installation benötigt wird, also nicht mandatory ist. Wenn jem

[2017-02-09 21:11] gharlan commented on #50
Ah verstehe, soweit habe ich nicht gedacht.

Du könntest Konflikte notieren:
[code]

So hättest du weiterhin keine festen Abhängigkeiten, hättest aber trotzdem sichergestellt, dass das Addon nicht mit eventuell inkompatiblen Addons zusammen installiert wird.

[2017-02-09 21:13] schuer commented on #50
Ha, das kannte ich noch nicht. Perfekt, das könnten wir doch so übernehmen. Danke!

[2017-02-09 21:15] schuer opened #51 "package.yml: Conflicts definieren"
[code]

Siehe @gharlan s Vorschlag hier: https://github.com/FriendsOfREDAXO/cache_warmup/issues/50#issuecomment-278774852

[2017-02-09 21:30] gharlan commented on #51
Wenn dann irgendwann https://github.com/redaxo/redaxo/issues/899 umgesetzt ist, kann man genauso dann auch nach unten Schranken setzen, wenn man mal mindestens eine Version brauchen sollte.
Geht aktuell aber noch nicht. Also nach unten und oben beschränken, ohne eine feste Abhängigkeit zu haben.

Ich meine sowas:

[code]

Hieße dann: Wenn media_manager installiert ist, dann bitte >= 2.1 und < 3. A

[2017-02-09 21:33] schuer commented on #51
Danke für den Hinweis!

[2017-02-10 16:33] hirbod opened #52 "Dynamische Seiten"
@schuer meinst du, man könnte ggf. Support für dynamische Seiten implementieren? (z.B. über https://github.com/tbaddade/redaxo_url) generierte URLs?

Entweder das AddOn macht es out-of-the-box, oder es stellt einen EP bereit, damit man eigene URLs hinzufügen kann.

[2017-02-10 16:41] schuer commented on #52
Sollte kein Problem sein, denke ich. Kenne das Addon nicht, aber das sollte doch bestimmt kein Problem sein, die Inhalte zu generieren (Ping @tbaddade).

[2017-02-10 16:49] tbaddade commented on #52
Tss 🤔

Der Dev muss die Inhalte selber cachen. Das macht nicht das Url-AddOn.

Am sinnvollsten erscheint es mir hier[1] einen EP zu registrieren, der Urls entgegennimmt und dann entsprechen verarbeitet.

[1] https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/pages/generator.php#L27

[2017-02-10 16:51] schuer commented on #52
»Kenne das Addon nicht« bezieht sich natürlich auf den Code. Kenne den Code nicht. Habe noch nicht unter die Haube geschaut :)

[2017-02-10 16:56] schuer commented on #52
Sorry, noch eine Anmerkung: Bevor wir das AddOn anpassen, sollten wir uns bewusst machen, dass REDAXO den Cache für Inhalte ja sehr schnell generieren kann. Das ist ja quasi nur eine Sekunden-Aufgabe, selbst für große Mengen von Inhalten. Aufwendig sind ja lediglich die Bilder, und die sollten eigentlich aus allen gängigen Quellen bereits erfasst werden: Seiten, Metadaten, YForm.

Ich würde ungern

[2017-02-10 16:59] hirbod commented on #52
Nur eine kurze Zwischenfrage (mir geht es hier auch eher um die Bilder):
woher weiß das AddOn, welcher Bildtyp für eine Fotospalte innerhalb von yForm genutzt wird?

Wird einfach pauschal jeder Media Manager Typ für dieses Bild angewendet? Wäre dann zwar etwas Overkill, aber würde meine Feature-Anfrage handeln. Ansonsten wüsste ich nicht, wie das AddOn hier überhaupt mit den Bildern funktioniert.

[2017-02-10 17:00] schuer commented on #52
@Hirbod https://github.com/FriendsOfREDAXO/cache_warmup#ich-bin-entwicklerin-was-genau-macht-das-addon

Es werden alle _verwendeten_ Bilder in allen _vorhandenen_ Mediatypen generiert.

[2017-02-10 17:02] hirbod commented on #52
Verstehe. Dann close :).

[2017-02-10 17:02] #52 closed, assigned to nobody

[2017-02-10 17:04] schuer commented on #52
Ist mir sehr recht. Falls noch jemand von den Mitlesern drauf anspringen möchte, öffnet gerne bei Bedarf wieder.

[2017-02-10 17:52] staabm commented on #50
Wenn ich jan richtig verstanden habe sollte nach https://github.com/redaxo/redaxo/commit/a4c73045f84858e1b83b6b1451324989e3213a06 jetzt kein BC problem mehr bestehen. Bitte mal das aktuelle addon - ohne anpassungen - mit 5.3 versuchen

[2017-02-11 16:41] hirbod opened #53 "REDAXO 5.3 Fehler"
ErrorException thrown with message "Cannot make static method rex_media_manager::sendMedia() non static in class cache_warmup_media_manager"

Stacktrace:
#0 ErrorException in /var/www/clients/client1/web205/web/public/redaxo/src/addons/cache_warmup/lib/media_manager.php:0

<img width="1028" alt="bildschirmfoto 2017-02-11 um 17 40 49" src="https://cloud.githubusercontent.com/assets/504909/22855464/

[2017-02-11 16:46] isospin commented on #53
du warst schneller, bei mir ist auch gerade der gleiche fehler geflogen...

[2017-02-11 16:56] staabm commented on #53
Vermutlich weitere nebenwirkung von https://github.com/redaxo/redaxo/commit/e156f08a0631873c7a63174dafe16b1d89908284

Muss im rex core gefixed werden

[2017-02-11 16:58] #53 closed, assigned to nobody

[2017-02-13 12:10] schuer commented on #50
Anpassungen des Media Managers wurden zurückgenommen, so dass hier kein weiterer Handlungsbedarf ist, siehe https://github.com/redaxo/redaxo/issues/707#issuecomment-279368129

[2017-02-13 12:10] #50 closed, assigned to nobody

[2017-02-13 12:13] schuer commented on #51
Dieses Issue hat sich vorerst erledigt, oder?

Wenn ein neues Major-Release vom Media Manager kommt, würde man Cache-Warmup sowieso darauf anpassen und nicht etwa mittels `conflicts`-Definition auf den alten Media Manager beschränken wollen.

[2017-02-13 12:20] gharlan commented on #51
Ich fände es schon korrekt/besser, das hinzuzufügen. Und zwar nicht erst, wenn es irgendwann mal einen MM 3.0 gibt, sondern eben gerade frühzeitig.
Es geht ja darum, dass bei denen, die dann noch die alte cache_warmup-Version haben, das Update verhindert wird. Ansonsten läuft das Update durch, und danach kommt es dann zu Fehlern.

Ist ja auch der Grund, warum man überhaupt sowas wie `^2.0` bei den

[2017-02-13 12:23] schuer commented on #51
Stimmt, klingt sehr sinnvoll. Auch für andere AddOns, die sowas nach und nach übernehmen sollten.

[2017-02-13 13:28] staabm commented on #51
Mit conflict rules habe ich bisher nie gearbeitet, kann nix dazu sagen.

generell sind nach oben offene version constraints aber ein anti-pattern und sollten vermieden werden.

[2017-02-17 09:38] schuer opened #54 "R 5.3 Media Manager: Header prüfen und übernehmen"
Die großen Anpassungen von neulich (#50) wurden zurückgenommen, allerdings sind ein paar kleine Anpassungen drin geblieben, die hier mal geprüft und ggfls übernommen werden sollten:

* [MediaManager: Bilder werden immer mit Status 200 geliefert](https://github.com/redaxo/redaxo/pull/1031/)
* [Media Manager: Revert](https://github.com/redaxo/redaxo/pull/1037)

Komplette History: https://github.com/

[2017-02-17 10:05] staabm commented on #54
falls du jetzt wg. 5.3 irgendwas ändern musst, bitte immer mit PR, damit wir sehen ob es nicht ein R5.3 problem ist

[2017-02-17 10:46] gharlan commented on #54
Wegen Status 200 verstehe ich nicht ganz.
Für mich stellt sich das so da: Durch die größere Änderung kam ein Bug rein, sodass die Anfragen nie mehr mit Status 304 beantwortet wurden. Das hatte Axel dann gefixt, somit funktionierte 304 wieder so wie vorher. Dann haben wir die große Änderung rückgängig gemacht, der Fix wäre somit theoretisch überflüssig, da der Bug durch das Zurücksetzen auch wieder

[2017-02-17 10:53] schuer commented on #54
@gharlan Ich habe leider gerade nicht so recht die Zeit, das zu prüfen. Bisher war es offenbar so, dass der Media Manager immer 200 geliefert hat, auch wenn ein Fehler aufgetreten ist. Zumindest hatte ich es so als JS-Comment notiert.

Ich habe eben nur die PRs gesehen und bin davon ausgegangen, dass Teile davon im Release gelandet sind. Sollte das nicht der Fall sein, ist dieses Issue obsolet. Es

[2017-02-18 21:25] schuer commented on #54
Ich habe es mir jetzt endlich mal näher angeschaut, und es gibt keine merklichen Anpassungen, die wir für Cache-Warmup übernehmen müssten. Auch nicht mit dem kommenden Media Manager 2.3.0-Release, zumindest nicht im aktuellen Stand. Der Header-Kram ist obsolet, weil wir das generierte Bild sowieso nicht ausgeben, und die anderen Anpassungen sind ja zurückgenommen worden und nicht in R 5.3 eingeflo

[2017-02-18 21:32] staabm commented on #54
aufgrund der session abort geschichte könntest du bilder parallel via warmup generieren oder du lässt es wie es ist und der user kann jetzt während dem generieren im gleichen browser besser nebenbei das backend bedienen

[2017-02-18 21:34] schuer commented on #54
Letzteres klingt sinnvoller, oder? Also dass das Backend nachwievor nutzbar ist. Deshalb wird ja überhaupt erst das Popup benutzt.

Wie würdet ihr entscheiden?

[2017-02-18 22:08] staabm commented on #54
Ich denke es funktioniert bisher ganz gut, daher lass es ruhig wie es ist

[2017-02-19 11:02] schuer commented on #54
Okay, dann also close. Falls doch noch was auffällt: Reopen, wie üblich :)
Danke!

[2017-02-19 11:02] #54 closed, assigned to nobody

[2017-02-19 11:05] #51 closed, assigned to nobody

[2017-02-26 00:11] hirbod opened #56 "Addon + customizer plugin"
<img width="662" alt="bildschirmfoto 2017-02-26 um 01 10 12" src="https://cloud.githubusercontent.com/assets/504909/23335928/61ea37c8-fbc0-11e6-88ec-b1cd838932c0.png">

Eigentlich steht an der Stelle im Header der Link zum Frontend. Ich weiss nicht, ob hier cache_warmup aufräumen muss, oder aber das customizer-plugin.

Ggf. weiß hier @tbaddade bescheid!

[2017-03-08 22:15] staabm opened #58 "ChunkSize Parameter defaults"
Die defaults für die chunk parameter exisitieren schon sehr lange. Seitdem wurden einige optimierungen im code durchgeführt, sodass wir die aktuellen werte hinterfragen sollten.

https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/boot.php

Annahme: man kann deutlich höhere Werte benutzen sodass auch für seiten mit sehr vielen Bildern und MediaTypes das ganze schnell/schneller läuft. Ich h

[2017-03-09 09:21] schuer commented on #58
Ich würde ein Update von aktuell 4/42 auf 10/200 vorschlagen.

[2017-03-09 09:24] staabm commented on #58
hast du irgendwelche zahlen dazu? wieviel speicher/lauf-zeit benötigen wir (vorher/nachher)? ich vermute man könnte viel mehr bilder pro run "bauen"

[2017-03-09 09:28] tbaddade commented on #58
Wenn das angepasst werden sollte, wäre es gut dafür eine Einstellungsseite zu haben.

[2017-03-09 09:33] staabm commented on #58
ich denke wir müssen einfach nur "gute werte finden".

für den enduser es einstellbar zu haben ist in meinen augen überflüssig.
wenn die werte einigermaßen passen wird man durch custom einstellungen nicht viel erreichen können (ausser es ggf. falsch einzustellen)

[2017-03-09 09:35] staabm commented on #58
oder anders gesagt: welches ziel verfolgst du wenn du es selbst einstellen willst?

[2017-03-09 10:03] schuer commented on #58
@staabm Leider ist das völlig unvorhersehbar und variiert je nach Serverumgebung: Wie groß sind die Bilder + wie lang darf die Skriptlaufzeit sein. Ich fände es unschön, wenn das Addon auf einem schlechten Shared-Hosting in Flammen aufginge.

Sind es kleine Bilder und die Skriptlaufzeit ist eine Minute, könnte man bestimmt auch 100 Bilder mit einem Request generieren. Sind es allerdings sehr große

[2017-03-09 10:08] schuer commented on #58
Nochmal weitergedacht: Das Addon könnte initial versuchen, eigenständig gute Werte zu finden. Indem es z. B. die zu generierenden Bilder nach Größe vorsortiert und probiert, die größten von ihnen so lange zu Paketen zu bündeln, bis es knallt. Und danach den Wert wieder etwas runterpuffert, z. B. -10%.

Also eine Art Selbsttest, den man sogar regelmäßig per Cron ausführen könnte, wenn man wollte. D

[2017-03-09 10:23] schuer commented on #58
Weitere etwas vereinfachte Varianten:

1. Beim Erstaufruf die Skriptlaufzeit messen und darauf basierend sinnvolle Schätzwerte für Bilder und Seiten verwenden. Beispiel: Bildgenerierung darf bis zu 3 Sekunden dauern. Dementsprechend 10 Bilder bei 30 Sek. Skriptlaufzeit, 20 bei 60 Sek., usw.
2. Initial recht hohe Werte ansetzen und das Addon reduziert diese eigenständig, wenn es beim Durchlauf »mer

[2017-03-09 10:34] gharlan commented on #58
Brauchen wir überhaupt eine feste Anzahl?
Wahrscheinlich für die ProgressBar von Vorteil, oder?

Ansonsten könnte man es vielleicht auch so machen, dass man einfach rechtzeitig vor Erreichen der Skriptlaufzeit abbricht. Es wäre also pro Aufruf ganz unterschiedlich, wie viele Bildgenerierungen da geschafft werden.

[2017-03-09 10:34] schuer commented on #58
Sorry, noch ein Vorschlag. Noch einfacher, allerdings werden die Nutzer:innen diesmal mit einbezogen:
Ein Slider oder Select über dem Startbutton zum Festlegen der »Geschwindigkeit« (so bleibt es halbwegs verständlich). Mini-Erklärung mit dran, dass man bitte langsamer stellen möge, wenn der Warmup nicht durchläuft.

Die dahinterliegenden Werte würde ich fest verknüpfen, so dass der schnellste Mod

[2017-03-09 10:36] gharlan commented on #58
Klingt für mich spontan recht gut! (Die Slider-Idee)

[2017-03-09 10:38] AWqxKAWERbXo commented on #58
Klingt für mich nach trial & error, wenn's nicht klappt.

[2017-03-09 11:14] staabm commented on #58
wir wissen die limits ja, da sie via `ini_get` ausgelesen werden können (sowohl speicher als auch laufzeit).
wir müssen die werte ja nicht so einstellen dass sie das max. ausreizen. dennoch glaube ich dass man deutlich erhöhen kann ohne für ein shared-hosting ein problem zu sein.

diese werte könnte man auch hard-codiert hinterlegen und abhängig von ini_get() speicher/timelimit nehmen (also nicht

[2017-03-09 11:26] staabm commented on #58
vllt könnten wir auch einfach versuchen die limits eines shard hostings auszuloten (z.b. 128mb speicher, 15 sekunden laufzeit) und schauen wie hoch wir mit den chunks gehen können in diesem limit (ich vermute wie gesagt, dass wir viel mehr machen können, selbst bei so kleinem limit)

[2017-03-09 11:26] schuer commented on #58
@gharlan Eine variable Anzahl zu verwenden wäre natürlich auch möglich, nur müsste dafür mehr Logik aus dem PHP ins JavaScript wandern, wäre also mit merklichem Aufwand verbunden. Und ja, die Progressbar würde nicht mehr gleichmäßig durchlaufen, aber darauf könnte man sicherlich verzichten.

[2017-03-09 11:44] schuer commented on #58
@staabm Ich würde auch lieber in die Richtung gehen wollen, die Werte automatisch unter der Haube anhand von Umgebungsvariablen zu bestimmen, als es den Nutzer:innen zu überlassen.

Vorschlag also nochmal: Wir verwenden `ini_get('max_execution_time')`, um danach unsere Werte zu bestimmen. Speicher kann uns egal sein, glaube ich, weil er nur relevant für die Maximalgröße der Bilder ist, nicht aber

[2017-03-09 12:01] tbaddade commented on #58
Wir hatten letztens die Zeit und den Speicher nach oben gesetzt. Und dennoch brach das warumup ohne Fehlermeldung ab. Das waren ca. 300 Bilder mit 11 Mediatypen (inkl. System).

Mit den Originalbildern von ca. 8MB und mind. 7.000px Seitenlänge ging gleich gar nichts. Ich hatte dann die Bilder lokal herunterskaliert auf max. 4.000px Seitenlänge. Die Bilder waren dann noch max. 4MB groß und auch hie

[2017-03-09 12:16] schuer commented on #58
@tbaddade Ohne Fehlermeldung abbrechen ist komisch. Eigentlich sollte eine Fehlermeldung kommen. War es R 5.3? Vielleicht sind Anpassungen gemacht worden, die relevant für Cache-Warmup sind, und die wir übersehen haben. Ich habe die Entwicklung leider nicht so genau verfolgt.

Ansonsten: Kantenlänge ist entscheidend, weil jeder Pixel im Speicher gehalten werden muss. Die Dateigröße hingegen ist nu

[2017-03-09 12:36] staabm commented on #58
ich denke damit könnte man erstmal anfangen. ist ja dann im endeffekt schon ein vielfaches von dem was wir heute haben.

Aktuell rechnen wir mit 4 images pro request, was bei der Umrechnung dann ja eine "annahme" von max-execution-time von 12 sekunden ist (was sicher in der regel zu wenig ist)

falls es wirklich soweit kommt dass der worst case eintritt (also bei 120sek max-exec-time es nicht zu s

[2017-03-11 11:24] schuer commented on #58
Ich kümmere mich mal drum.

[2017-03-11 11:24] schuer commented on #56
Danke @Hirbod, schaue ich mir an.

[2017-03-11 22:54] #56 closed, assigned to schuer

[2017-03-13 08:36] schuer opened #61 "Fehler durch Speicherüberlauf wird übergangen"
Wie es scheint, werden Fehler durch Speicherüberlauf (»RAM exceeded«) aktuell nicht richtig abgefangen. Stattdessen läuft Cache-Warmup weiter und zeigt am Ende die positive Fertig-Danke-Nachricht. Siehe auch [Thomas’ Kommentar](https://github.com/FriendsOfREDAXO/cache_warmup/issues/58#issuecomment-285333369) und meine Antwort darauf.

Scheint ein JS-Issue zu sein, ich habe es mir aber noch nicht i

[2017-03-13 15:59] #61 closed, assigned to nobody

[2017-03-13 17:58] #58 closed, assigned to schuer

[2017-03-13 19:15] staabm commented on #58
@schuer  das zeitlimit kann man übrigens zur laufzeit noch erhöhen[1] falls es probleme macht.. speicherlimit ist durch die Umgebung vorgegeben und zur Laufzeit nicht änderbar

[1] http://php.net/manual/en/function.set-time-limit.php

[2017-03-14 11:26] AWqxKAWERbXo opened #64 "SVGs führen zu Fehler"
cache_warmup bricht ab, wenn ein SVG durchlaufen wird. SVG-Dateien sollten dann übersprungen werden...

[2017-03-14 13:27] schuer commented on #64
Danke @alexplusde!
Das scheint mir allerdings ein Problem des Media Managers zu sein. Konkret tritt es bei mir auf, sobald die MediaTypen-Effekte angewendet werden (`$media_manager->applyEffects($rex_media_manager_type);` in [media_manager.php#L303](https://github.com/redaxo/redaxo/blob/master/redaxo/src/addons/media_manager/lib/media_manager.php#L303)), und auch die normale Ausgabe auf der Websit

[2017-03-14 13:39] AWqxKAWERbXo commented on #64
dübdüdeldü...

https://github.com/redaxo/redaxo/issues/812

[2017-03-21 23:09] hirbod opened #65 "AddOn beachtet nicht "status" Spalte in "rex_article_slice""
Das AddOn bloecks fügt zur `rex_article_slice`eine Status-Spalte hinzu, welche beim EP SLICE_SHOW beachtet wird. Anscheined greift das aber nicht in Verbindung mit dem cache_warmup. Es tauchen nach dem Ausführen des AddOns plötzlich alle inaktiven Slices wieder im Frontend auf (obwohl der Value nach wie vor auf "0" steht).

Kann sich das jemand mal ansehen? Ich hab es jetzt noch auf einer Dev-Seit

[2017-03-21 23:31] Hirbod commented on #65
cache_warmup ist unschuldigt, liegt an bloecks. Der EP wird nur im Frontend registriert, deswegen greift dann auch der Slice-Ausschluss nicht.
https://github.com/FriendsOfREDAXO/bloecks/pull/23

[2017-03-21 23:42] hirbod commented on #65
Ok, lag doch nicht an bloecks. Hab den PR zurückgezogen, lag nur daran, wie ich getestet habe.

Kurz als Info: lösche ich den Cache und starte cache_warmup, bevor ich das Frontend mit der entsprechenden Seite aufgerufen habe, dann wird cache_warumup den Status von bloecks ignorieren. Lösche ich den Cache, rufe die Seite im Frontend auf und starte danach cache_warmup, dann funktioniert es (da cache

[2017-03-22 01:15] hirbod commented on #65
/cc @gharlan vllt hast du ne magische Idee

[2017-03-22 05:08] tbaddade commented on #65
Ich würde das Status-Feld default in die article_slice Tabelle aufnehmen und mit 1 default setzen.  Blöcks kann sich weiterhin um das wechseln des Status kümmern. Content-Plugin müsste das Feld dann ebenso auswerten.

[2017-03-22 05:10] hirbod commented on #65
Also ist das ein Core-Ding @tbaddade ?

[2017-03-22 05:13] tbaddade commented on #65
ja, wäre mein Vorschlag. Dann könnten alle AddOns auch auf das Feld reagieren, da immer vorhanden.

Ps: Blöcks selber wertet m.E. den Status nur im Frontend aus.

[2017-03-22 05:14] hirbod commented on #65
Ich weiss, der EP ist nur im Frontend registriert. Ich hab es auch schon mit Registrierung im Backend versucht, hat nichts geändert.

@tbaddade kannst du das bei @gharlan und @staabm durchboxen? 🥇

[2017-03-22 08:29] staabm commented on #65
cache_warmup könnte auch prüfen ob die spalte slice_status exisitiert und falls ja diese berücksichtigen.

sehe hier kein todo für den core (zumindest nicht aus den genannten gründen)

[2017-03-22 08:42] schuer commented on #65
Mir scheint, zumindest __Bloecks__ kann gegen das Problem nicht sinnvoll angehen. Denn es muss ja notwendigerweise zwischen Frontend und Backend trennen, und im Backend müssen (anders als im Frontend) auch Offline-Slices ausgegeben werden, um sie bearbeiten zu können.

Das Problem liegt nun darin, dass __Cache-Warmup__ sich plump die Artikeldaten holt, dabei aber zwangsläufig als Backend agiert, n

[2017-03-22 09:37] staabm commented on #65
@Hirbod mal andersherum gefragt: oben im issue ist ja nur eine behauptung beschrieben dass dies ein bug ist. was genau das problem ist steht gar nicht dort.

was genau ist das problem wenn cache_warmup auch für "offline-slices" caches generiert?
cache warumup macht ja an den slices nix und ändert auch keine inhalte in der datenbank, daher kann ich mir gar nicht vorstellen was oben beschrieben ist.

[2017-03-22 09:45] hirbod commented on #65
@staabm Blöcks fügt der article slice Tabelle einen Status-Wert hinzu. Der Wert wird per 0/1 gesetzt und triggered beim SLICE_SHOW. Der EP sendet einen leeren String für den SLICE falls ausgeblendet.

Funktioniert Prima, außer wenn Cache Warmup den Cache mittels new rex_article_content erstellt. Dann wird der EP anscheinend nicht getriggered und der ausgeblendete Block mit sensiblen Inhalt ist wie

[2017-03-22 09:47] schuer commented on #65
@Hirbod Genau, der EP triggert nicht, und es wäre auch nicht sinnvoll, weil die Slices im Backend ja nicht ausgeblendet werden sollen, sondern zur Bearbeitung sichtbar bleiben. Nach meinem Verständnis kann Bloecks deshalb gar nichts tun, um das Issue zu vermeiden, sondern wir müssen es an anderer Stelle beheben.

[2017-03-22 09:59] tbaddade commented on #65
Für mich gehört das Issue zu Blöcks. Auch wenn Blöcks eventuell da nichts machen kann, Blöcks stellt das Feature zur Verfügung und müsste es entsprechend händeln.

Auch sehe ich das `status` Feld in der article_slices Tabelle. Ähnlich wie das `revision` Feld. Ist dabei, wird aber vom Core nicht wirklich berücksichtigt. Wird aber vermutlich aber erst mit structure 3.0 kommen.

[2017-03-22 10:03] staabm commented on #65
ich denke der ansatz in blocks ist falsch. falls ich es richtig verstanden habe wird dort aktuell zur laufzeit nen filter aufgerufen der entscheidet ob ein slices angezeigt werden soll/muss oder nicht.

eigentlich müsste bloecks den von redaxo generierten php-code (article-cache) modifizieren und dort ein IF reinbringen anstatt zur Laufzeit mit SLICE_SHOW was zu unterdrücken.

der bloecks ansatz i

[2017-03-22 10:09] staabm commented on #65
Die einfachste Lösung aktuell wäre wohl den content von artikeln nicht zu generieren sondern nur die metadaten und listen (bis bloecks hier besser funktioniert).

[2017-03-22 13:40] hirbod commented on #65
Wenn du dir den CODE jedoch ansiehst, wirst du feststellen, das SLICE_SHOW_BLOECKS_FE bei SLICE_SHOW aufgerufen wird. Ich kann es noch nicht ganz debuggen, aber der EP wird einfach nicht aufgerufen. Entweder es liegt an Bloecks oder diesem Addon bzw. am Core. Man müsste mal testen.

[2017-03-22 14:36] hirbod commented on #65
cache_warmup ruft

[code]
auf. Die Funktion widerrum callt generateArticleContent wenn es kein Cache-File gibt, und in dieser Funktion wird der EP gar nicht getriggered. Ich weiss gar nicht, wer hier anpassen sollte.

[2017-03-27 13:39] hirbod commented on #65
@staabm @gharlan wie wäre es denn mit SLICE_SHOW, SLICE_SHOW_FRONTEND und SLICE_SHOW_BACKEND?
Aktuell besteht das Problem ja unter anderen darin, das zwischen Front- und Backend nicht explizit unterschieden wird und der AddOn Maintainer sich darum kümmern muss - was zu besagtem Problem führt.

Kann man nicht expliziter diesen EP trennen? Dann bedarf es keiner weiteren Trennung in der boot.php und

[2017-03-27 14:02] schuer commented on #65
@Hirbod Cache-Warmup agiert als Backend, deshalb generiert es Cachefiles, die auch Offline-Inhalte enthalten. Ich glaube nicht, dass die EPs hier weiterhelfen können, sondern es bleibt immer der Konflikt bestehen zwischen Backend und Frontend?

[2017-03-27 14:05] hirbod commented on #65
@schuer nicht ganz.
Wenn ich die !rex::isBackend() Abfrage bei bloecks entferne und es "immer registriere", funktioniert das Ganze, nur das dann leider auch die Slices im Backend + Frontend verschwinden. Wenn REDAXO Core jetzt sicherstellen würde, das nur der richtige EP aufgerufen wird, anstatt pauschal SLICE_SHOW, dann sollte das meiner Meinung nach funktionieren können. Außer ich hab gerade nen

[2017-03-27 14:09] schuer commented on #65
@Hirbod Vielleicht habe ich den Denkfehler, aber meiner Meinung nach bleibt das Problem bestehen: Cache-Warmup agiert im Backend. Auch wenn REDAXO die EPs irgendwie automatisch regeln würde, käme das Cachefile als Backend-Version raus, also mit den nicht gewünschten Offline-Slices. Denn wie sollte REDAXO wissen, dass die Frontend-Variante benötigt wird? Das müsste man dann schon explizit definiere

[2017-03-27 15:47] AWqxKAWERbXo commented on #65
wie wäre es mit nem EP ARTICLE_RENDER, in dem man festlegen kann, ob ein Artikel wie im Frontend oder Backend gerendert werden soll? (my 2 cents als Laie) Oder eben einen Parameter bei getArticle.

[2017-03-27 15:55] staabm commented on #65
In meinen Augen werden wir - egal wie wir die EPs jetzt nennen - damit das Problem nicht lösen können.

[2017-03-27 19:35] hirbod commented on #65
Außer es würde eine Art Paramter geben, welcher der Core beachtet. (Simulate Frontend) oder ähnliches.

[2017-03-28 06:17] tbaddade commented on #65
Es würde m.E. einiges erleichtern, wenn wir das Feld "status" in die Tabelle (default 1) aufnehmen. Blöcks kann die Werte setzen, es im Frontend auswerten und im Backend ignorieren (Slices wären immer zu sehen). Jedes andere AddOn kann ebenso das Feld für sich auswerten, insbesondere Cache Warmup.

[2017-03-28 07:32] schuer commented on #65
Was @tbaddade sagt.

[2017-03-29 02:40] hirbod commented on #65
Bin auch für Thomas' Vorschlag. @gharlan ?

[2017-03-29 07:55] schuer commented on #65
[Release 2.1.1](https://github.com/FriendsOfREDAXO/cache_warmup/releases/tag/2.1.1) deaktiviert nun vorerst die Artikelinhalte und generiert nur noch Metadaten und Listen, bis wir entschieden haben, wie wir weiter vorgehen wollen.

[2017-03-29 08:00] schuer commented on #65
Mein Vorschlag: Unabhängig davon, ob REDAXO das `status`-Feld für den Core übernimmt, sollte Cache-Warmup es beachten. Es hat sich nun über Jahre hinweg als Quasi-Standard etabliert, als das Feature schon unter R4 per Addon implementiert wurde, und wird vermutlich auch weiterhin Status heißen, wenn es in den Core übergehen sollte.

BlÖcks entfernt beim Deinstallieren vorbildlich das Status-Feld, d

[2017-03-29 08:32] staabm commented on #65
man könnte es ja so bauen dass man das ein evlt. vorhandenes status feld beachtet wird wenn bloecks installiert ist.

ich glaube aber am einfachsten fährst du wenn du den content einfach nicht mehr generierst... der gewinn beim vor-generieren des contents von artikel ist ja auch eher marginal.

[2017-03-29 08:57] schuer commented on #65
@staabm Inhalte abzuklemmen ist bestimmt die einfachste Variante, ich finde nur schade, dass dann eben nicht mehr _alles_ generiert wird. Aktuell ist es ja so, dass man nach dem Warmup die Datenbank abklemmen könnte, falls man nur mit Artikeln rummacht und kein yform etc. nutzt. Es fühlt sich nach einem echten Warmup an. Wenn wir nun die Artikelinhalte ausklammerten, hätte das zwar keine merkliche

[2017-03-29 09:04] gharlan commented on #65
Ich bin nicht dafür, das Feld im Core nur als Feld aufzunehmen. Ich bin aber dafür (wie schon mehrfach gesagt), das ganze Feature Slice-Status in den Core zu übernehmen.

Ich verstehe übrigens auch nicht, wie es bei dem konkreten Problem hier helfen würde, wenn wir das Status-Feld aufnehmen würden. Allgemein verstehe ich nicht, wie euer Lösungsansatz "Cache-Warmup berücksichtigt Slice-Status" funk

[2017-03-29 09:26] schuer commented on #65
@gharlan Ich habe das noch nicht im Detail überdacht, gehe aber bisher davon aus, dass Cache-Warmup ähnlich vorgehen müsste wie blÖcks: per EP einhaken und leere Slices zurückgeben, wenn sie offline sind. Unterm Strich also lediglich eine andere Unterscheidung: An der Stelle, wo blÖcks Inhalte durchreicht, weil der Kontext Backend ist, würde Cache-Warmup sie durchgängig ausblenden.

[2017-03-29 09:51] gharlan commented on #65
Ah ok verstehe. Ja würde vermutlich funktionieren.
So richtig schön wäre das allerdings nicht ;) Das nicht so optimale Verhalten von blöcks hier auf diese Weise zu umgehen.
Aber es wäre wohl in der Tat ein Weg, wie Cache-Warmup es selbst lösen könnte.

[2017-03-29 10:00] schuer commented on #65
Ich finde die Situation auch etwas unbefriedigend gerade. Cache-Warmup benutzt eigentlich nur Hausmittel, hat aber bereits Probleme mit SVGs und dem Slice-Status.

Sehe das wie du: Die Anpassungen für Slice-Status sind nicht unbedingt allzu schön. Aber sollte das nicht wirklich ein Core-Feature werden, werden wir sie wohl einbauen müssen oder in Kauf nehmen, dass Artikelinhalte nicht mehr generier

[2017-03-29 10:01] staabm commented on #65
das wird in einer echten website auch so gut wie nie funktionieren, da es es meist ja zig addons/yform tabellen o.ä. die sowieso eine db connection brauchen.

Ich glaube dass es dieses szenario so gut wie nie geben wird, daher würde ich dafür keine energie verschwenden.

[2017-03-29 10:04] gharlan commented on #65
Oder wir passen blöcks an. Kann versuchen, mir das zeitnah mal anzuschauen. Wobei ich auch alles mögliche andere auf der Liste habe, was ich zeitnah angehen will ;)

[2017-03-29 10:05] staabm commented on #65
ich hatte es oben schon erwähnt.. meiner meinung nach darf blöcks nicht via EP filtern sondern sollte den generated source (article-cache) von den artikel "anpassen".

[2017-03-29 10:24] AWqxKAWERbXo commented on #65
Ein Nebeneffekt von Cache-Warmup ist übrigens, dass beim generieren aller Artikel auch Fehler erkennbar werden, auf die man vorher nicht geachtet hat (eine kleine fehlerhafte Änderung im Modul bspw.). Dieses Feature finde ich sehr praktisch, um grob die Seite zu testen und hat mich auch schon vor dem ein oder anderen Fehler auf der Live-Seite bewahrt - denn nach jeder Änderung auf einer Seite 100

[2017-03-29 10:43] schuer commented on #65
@staabm Kriegt man sowas denn robust hin, die generierten Artikel nachträglich anzupassen, um Offline-Slices rauszufischen? Klingt ein bisschen nach RegEx-Action.

[2017-04-10 09:45] AWqxKAWERbXo opened #66 "Hilfreiche Fehlerausgabe implementieren"
Wenn Cachewarump einen Fehler erzeugt, wird einem ein Link angezeigt, der zum fehlerhaften Artikel / Bild führen soll. Klickt man auf den Link, passiert nichts, da dieser falsch aufgebaut zu sein scheint.

`http://domain.de/redaxo/index.php?page=cache_warmup/generator&images=11.rex_mediapool_maximized,11.rex_mediapool_preview,10.art_image,10.download,10.gallery-flexslider,10.gallery-thumbnail,10.m

[2017-04-14 07:45] tgoellner commented on #65
Dann gebe ich meinen Senf auch mal dazu (Sorry, war in Elternzeit): Das mit dem Frontend/Backend-Rendern ist das grundlegende Problem, ja. Meiner Meinung nach bleiben da zwei Lösungsansätze:

(a) Der EP SLICE_SHOW wird immer ausgeführt (auch wenn der Slice aus dem Cache kommt), bzw. es muss einen EP geben, der immer ausgeführt wird, wenn ein Slice ausgegeben wird (egal ob frisch gerendert oder aus

[2017-04-14 10:19] hirbod commented on #65
Ich bin für B), ansonsten hätte man für jeden SLICE einen SQL-Call

[2017-04-14 10:29] schuer commented on #66
Der Link passt schon, nur unterdrückt der Media Manager den Output (https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/assets/js/cache-warmup.js#L399-L402), so dass du vermutlich eine weiße Seite siehst, wenn du dem Link folgst. Was genau schief läuft kann Cache-Warmup leider nicht mitteilen, aber mindestens eins der aufgeführten Bilder sorgt für den Fehler.

[2017-04-14 10:30] schuer commented on #66
Welche Fehlermeldung wird denn eigentlich im Warmup-Popup ausgegeben?

[2017-04-15 15:58] AWqxKAWERbXo commented on #66
Wäre es dann nicht sinnvoll, die Dateinamen einfach auszugeben, statt in einem Link?

Fehlermeldung kann ich dir nicht mehr sagen, aber der Fall trat öfter auf...

[2017-06-02 07:30] schuer commented on #65
Ich habe gerade einen PR dazu angelegt, vielleicht habt ihr Zeit und Lust, mal kurz draufzuschauen. In meiner lokalen Umgebung hat das Zusammenspiel mit blÖcks prima geklappt.

https://github.com/FriendsOfREDAXO/cache_warmup/pull/68

[2017-06-02 09:54] schuer commented on #66
Ich bin mir gerade nicht sicher, wie detailiert und hilfreich wir eine Fehlerausgabe hinbekommen. Denn eigentlich gibt es keine richtige Fehlerbehandlung beim Generieren der Cachefiles, die eindeutig beinhaltet, was eigentlich schief gegangen ist. Das liegt daran, dass der Media Manager im Fehlerfall bewusst nicht abbrechen möchte — dann wäre die Website kaputt —, sondern ein Fehlerbild zurückgibt

[2017-06-07 16:20] #65 closed, assigned to nobody

[2017-06-13 14:51] schuer opened #71 "Template beim Generieren der Artikelcaches mit einbeziehen"
Siehe Diskussion hier: FriendsOfREDAXO/demo_base#44

[2017-06-13 17:47] schuer commented on #71
Hat jemand einen Vorschlag, wie wir das umsetzen können?

[2017-06-13 19:59] staabm commented on #71
GetArticeTemplate() statt getArticle() verwenden

[2017-06-13 20:35] schuer commented on #71
Haha, das ist ja zu einfach. `GetArticeTemplate()` kannte ich noch nicht, scheint auf Anhieb prächtig zu funktionieren. Ich sah mich im Vorfeld schon wild bootstrappen, um das Template mit rein zu kriegen und nicht alles kaputt zu machen :)
Danke für den Hinweis, @staabm.

[2017-06-14 10:36] #71 closed, assigned to nobody

[2017-08-01 19:02] anveno opened #74 "YForm-Felder aktualisieren: `be_media`, `be_medialist`, `mediafile`"
Eventuell kann man in der Hilfe Datei noch ergänzen das bei yform nur in "be_media" und "be_medialist" gesucht wird; nicht z.B. in mediafile - dort liegen bei mir die Bilder :)

selector.php / Zeile 56:
`find images in yforms (be_media, be_medialist)`

[2017-08-01 19:11] schuer commented on #74
Danke für den Hinweis! Ich hatte gar nicht mitbekommen, dass es `be_medialist` gar nicht mehr gibt. Und `mediafile` ist irgendwie auch an mir vorbeigegangen ;)

[2017-08-20 17:24] #74 closed, assigned to schuer

[2017-08-20 20:42] schuer commented on #64
Kleiner Zwischenstand: Das Problem mit den SVGs sollte aus meiner Sicht nur den **Media Manager 2.3** betreffen. Das ist die aktuelle Version aus dem Installer. In der vorherigen Version 2.2 und dem aktuellen Repo-Stand (2.3.1-dev) tritt das Problem nicht auf. Dort wird ein Fehlerbild generiert (das rote Error-Ding), und Cache-Warmup läuft bis zum Ende durch.

Ich lasse das Ticket noch offen, bis

[2017-09-24 22:08] schuer commented on #64
Im **Media Manager 2.4** der neuen REDAXO-Beta, die heute veröffentlicht wurde, tritt der Fehler ebenso nicht mehr auf.

[2017-10-03 15:35] fietstouring opened #77 "Fehler über https"
Cache_Warmup funktioniert bei mir nicht wenn ich das Redaxo-backend via **https** aufrufe.
In Chrome kommt ein **"TOO MANY REDIRECTS"** Fehler, in Firefox kam ein **"301 MOVED PERMANENTLY".** Über http funktioniert es normal. Keine Ahnung ob das was mit Serverkonfiguration zu tun hat oder mit dem Addon.

[2017-10-03 15:43] schuer commented on #77
@fietstouring Das wirkt eher so, als ob beim Versuch, http-Anfragen auf https umzuleiten, etwas schief geht. Cache-Warmup selbst macht eigentlich keine Angaben über das Protokoll, so dass ich den Fehler woanders vermute. Ich schaue es mir jedenfalls mal an, danke für den Hinweis!

[2017-10-03 15:50] fietstouring commented on #77
Hier noch eine Meldung von Chrome, die Bestätigung der Meldung ändert allerdings nichts.

![bildschirmfoto 2017-10-03 um 17 48 17](https://user-images.githubusercontent.com/1846849/31134729-47831580-a863-11e7-8377-f115bcf8554a.png)

[2017-10-03 15:56] schuer commented on #77
Hast du in der `redaxo/data/core/config.yml` die Angabe bei `server: ` mit https ausgezeichnet?

Und kannst du bitte einmal in den Quelltext der Seite schauen, nach `cache-warmup.js` suchen und sagen, ob die Datei mit http oder https vorne aufgerufen wird? Danke!

[2017-10-03 16:02] fietstouring commented on #77
Ja wenn ich die ganze Seite auf https umstelle, dann läuft es normal.

[2017-10-06 23:16] schuer commented on #77
Ich bin leider noch nicht dazu gekommen, mir das näher anzuschauen. Aber um die Sache weiter einzugrenzen: Könntest du mal eine kleine Anpassung testen, und diese Zeile auskommentieren:

https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/boot.php#L45

Sie sorgt dafür, dass REDAXO zum Generieren der Cachefiles in den Frontend-Modus geschickt wird. Ich weiß gerade nicht aus dem Stehgreif, w

[2017-10-24 12:09] #64 closed, assigned to nobody

[2017-11-02 11:21] frood opened #80 "Fehler bei Verwendung von exit(); in Template"
Moin,
Cache-Warmup bricht mit Fehlercode "RAM exceeded" ab, wenn in einem Template exit(); verwendet wird.
Gelöst habe ich das jetzt, indem ich das exit(); für warmup ausschließe:

`if($_GET['page']!='cache_warmup/generator') {exit;}`

Funktioniert .... vielleicht kann man Cache-Warmup dazu bringen, den exit-Befehl zu ignorieren ....

Gruss, Marc

[2017-11-02 12:22] staabm commented on #80
Das klingt sehr merkwürdig. Ist das mit der simple demo reproduzierbar? Ist das problem abhängig von verwendeten medien oder effekten?

[2017-11-02 12:38] schuer commented on #80
Kurze Anmerkung zum RAM exceeded: Das kommt grundsätzlich im Fehlerfall, denn es gibt kein detailierteres Fehlermanagement an der Stelle. Wenn ein Bild nicht generiert werden kann, können wir nur davon ausgehen, dass der Arbeitsspeicher nicht ausreicht. In allen anderen Fällen wird ein Fehlerbild statt des eigentlichen Bilds generiert, ohne dass Cache-Warmup davon etwas mitbekommt.

Was dein Exit

[2017-11-02 16:39] frood commented on #80
Der Exit-Befehl ist bei mir abhängig von einem bestimmten Sessionwert. Er wird aufgerufen, wenn es diesen Wert **nicht** gibt:

`if(!isset($_SESSION['wert'])){exit;}`

Per default existiert dieser Wert nicht (der Hintergrund ist der, dass diese Seite nur einen Hinweis und einen Link ausspuckt und dann abbricht, wenn der Besucher zuvor nicht eine andere Seite besucht hat, auf der dieser Sessionwert

[2017-11-04 11:56] schuer opened #81 "Umgang mit Fehlern anpassen, Report erstellen statt Abbruch"
Aufgrund des Feedbacks in #66, #80 und #82 denke ich inzwischen, dass die Fehlerbehandlung wirklich angepasst werden sollte:

1. Warmup läuft grundsätzlich durch und bricht nicht mehr mit Fehlern ab.
2. Warmup merkt sich Vorkommen von Bildern, die nicht richtig generiert werden konnten (Speicherüberlauf) und auch Seiten, die nicht generiert werden konnten (z. B. aufgrund von `exit;` im Template),

[2017-11-04 11:59] schuer commented on #80
@frood Ich kann dein Problem nachvollziehen und denke, dass Cache-Warmup wirklich gezielter auf Fehler eingehen sollte. Habe ein neues Issue dafür aufgemacht, siehe #81.

Bis zur fertigen Umsetzung solltest du wohl wirklich den Workaround einsetzen, den du beschrieben hast.

[2017-11-19 14:41] frood opened #82 "Diverse Abbrüche"
Krieg das Ding nicht zum laufen ... schade, die Idee ist wirklich super!
Aber ohne bessere Fehlerausgabe (wie schon mehrmals erwähnt) ist kaum rauszufinden, was nun wirklich stört.
Trotzdem mal einige Vermutungen und Anmerkungen ... vielleicht hilft es beim debugging:
- bei meinem 'not found'-Artikel hängt es
- Seiten mit Modul, welches jquery enthält
- bei meheren Domains (über yrewrite)
- bei Aj

[2017-11-19 15:09] schuer commented on #82
Danke für die Meldung! Und schade natürlich, dass du so viele Abbrüche hast. Früher hatte Cache-Warmup mal nur Inhalte generiert, ohne Templates drumrum. Als die Templates hinzugekommen sind, hat sich die Fehleranfälligkeit erhöht, und in der Praxis wäre es jetzt wirklich sinnvoll, Cache-Warmup grundsätzlich bis zum Ende durchlaufen zu lassen, um am Ende einen Report zu erstellen. (Zugehöriges Iss

[2017-12-01 11:35] schuer commented on #66
Wird im Zuge von #81 behoben werden.

[2017-12-01 11:35] #66 closed, assigned to nobody

[2017-12-01 11:36] schuer commented on #80
Wird im Zuge von #81 behoben werden.

[2017-12-01 11:36] #80 closed, assigned to nobody

[2017-12-01 11:36] schuer commented on #82
Wird im Zuge von #81 behoben werden.

[2017-12-01 11:36] #82 closed, assigned to nobody

[2017-12-31 15:06] schuer commented on #81
Ein Update, ich hatte es heute schon im Slack angesprochen:

✅ Cache-Warmup läuft nach meinen (lokalen) Anpassungen bis zum Ende durch, auch wenn unterwegs Fehler auftreten, sei es durch zu wenig RAM für die Bildgenerierung oder aufgrund von PHP exceptions im Code von Templates oder Modulen.
— Das ist prima, und so wollten wir es haben.

⚠️ Allerdings gibt es ein Problem mit dem **Report** am Ende

[2017-12-31 15:20] bloep commented on #81
Eine Variante wäre noch, vor dem Durchlaufen einer Seite / eines Bildes Informationen (bspw. den `filename` oder `article_id`) in der Datenbank oder Cache zu "merken". Im Anschluss könnte man auslesen welche Objekte Probleme bereitet haben. Dies würde sich aber bei einer großen Anzahl an Objekten negativ auf die Laufzeit auswirken...

[2018-01-01 08:29] AWqxKAWERbXo commented on #81
Wie würde man vorgehen, wenn man den Fehlerreport losgelöst vom Cache Warmup betrachtet? Bspw., indem die Anforderung erweitert wird zum "Website Check". Also eine Art Wartungsfunktion, bei der maschinell überprüft wird, ob das Redaxo-Frontend intakt ist, oder eine Seite / ein Medium Probleme macht. Wie würde man dann bei 20.000 Seiten vorgehen?

Ansonsten bitte ich darum, auch hier wieder die Nut

[2018-01-01 11:23] schuer commented on #81
@alexplusde

Vermutlich würde man alle einzelnen Ressourcen der Website einmal anfragen und prüfen, ob das gewünschte Ergebnis geliefert wird. Bei Seitenaufrufen das Markup, bei Bildern das generierte Bild und bei sonstigen Ressourcen das zu erwartende Ergebnis. Wenn es keine schlichte Website ist, kann es sein, dass man noch diverse Kontexte beachten muss: Sessions, GET/POST, IP, Client, Zeit des

[2018-01-01 11:42] AWqxKAWERbXo commented on #81
Kann man nicht eine Teilantwort ausgeben? Also immer, wenn ein Medium bearbeitet wurde, die Rückantwort ergänzen?

[2018-01-01 12:00] schuer commented on #81
Im aktuellen Setup nicht. Aber vielleicht können wir eine weitere cURL- oder Socket-Ebene implementieren:

`Client ---(AJAX)---> PHP Dispatcher ---(cURL/Socket)---> PHP Generator`

Hat jemand Erfahrungen/Meinungen dazu?

[2018-01-01 12:32] staabm commented on #81
Kann man den angesprochenen fehler serverseitig mit try/ctach nicht abfangen?

Oder wird ein error im serverlog auftauchen?

[2018-01-01 15:16] schuer commented on #81
@staabm Fehler im Code schmeißen einen Whoops, mir scheint, das kann man aktuell nicht abfangen. Vielleicht kannst du als Core-Mensch mal einen Blick drauf werfen, falls du Zeit und Lust hast.

Generell haben wir allerdings gerade das Problem, dass verschiedene REDAXO-5-Versionen unterschiedlich reagieren. Mit `rex_media_manager::create()` (MM 2.3.0) können wir die Bildgenerierung besser abfangen,

[2018-01-01 15:48] staabm commented on #81
Hast du einen konkreten stacktrace/error fall den ich anschauen soll?

Bzgl problem mit den unterschiedlichen APIs -> am einfachsten wäre die mindestversion anheben

[2018-01-01 18:18] schuer commented on #81
@staabm Nein, ich habe leider nichts zum anschauen, sondern habe nur lokal dran rumgebaut und beispielsweise ein `exit;` oder irgendeinen Zeichensalat ins Template geschrieben. Ist aber gar nicht schlimm, denn ich habe schon wieder ein Update zum Thema:

__Update:__ Ich habe jetzt nochmal verschiedene Situationen durchgespielt:
1. Fehler im Code von Templates oder Modulen produzieren einen Whoops,

[2018-01-01 18:31] staabm commented on #81
Wäre es ein problem wenn men den report nur mit dem neuen Mediamanager bereitstellt und bei älterem ein update hinweis/empfehlung gibt?

[2018-01-02 09:33] schuer commented on #81
Update zu 3.: Es fliegt leider doch ein Fehler, das hatte ich übersehen: Allowed memory size of x bytes exhausted. Steht auch im Syslog. Und natürlich bricht damit auch der Prozess ab, ohne dass wir ihn wieder einfangen könnten.

@staabm Es wäre kein Problem gewesen, hat sich gerade mit meinem Update nur leider erledigt.

[2018-01-04 14:02] IngoWinter opened #85 "Größe der Chunks einstellbar machen / Repeater implementieren"
Die Bilder und Seiten werden in "Chunks" eingeteilt: https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/boot.php#L8-L11
Es wäre hilfreich, wenn man den "max" Wert (zumindest der Bilder) einstellen könnte. Ich habe schon mehrfach den Fall gehabt, dass ich den max Wert auf 30 oder 20 setzen musste, damit mir der Prozess nicht abschmiert. Das wäre über ein einfaches Select im Cache Warmup Re

[2018-01-04 15:40] schuer commented on #85
Oh, interessant zu hören. Wir hatten ja, als die Chunkgrößen implementiert wurden, versucht, ein gutes Mittelmaß zu finden. Die Werte werden abhängig von der maximalen Scriptlaufzeit des Servers gesetzt und liegen aktuell bei `Scriptlaufzeit * 0.4`, also 12 Bilder bei 30 Sekunden, 24 bei 60 Sek. und 36 bei 90 Sekunden. Das Limit liegt bei 50 Bildern.

Ich würde ganz gerne Benutzereinstellungen ver

[2018-01-04 16:03] IngoWinter commented on #85
Die aktuell betroffene Seite hat eine Skriptlaufzeit von 120 Sekunden. Ich hatte die maximale Chunkgröße auf **20** gesetzt, und er ist mir trotzdem noch 3 oder 4 mal abgeschmiert.
Ich vermute, dass das an der Größe der Originalbilder liegt. Wenn in einem Chunk ein paar mit 4000px Seitenlänge bei sind, dauerts wohl länger.

[2018-01-04 16:05] tbaddade commented on #85
Denke ich auch und daher wird man m.E. auch kein geeignetes Mittelmaß finden können.

[2018-01-04 16:13] schuer commented on #85
Okay, dann sollten wir statt Benutzereinstellungen, die man erklären müsste, und die die Bedienung des AddOns komplizierter machen, vielleicht lieber eine Art Repeater einbauen: Wenn bei der Bildgenerierung ein Timeout kommt, lassen wir den betroffenen Chunk noch X mal durchlaufen, bevor wir den Prozess abbrechen.

Wie wäre das?

[2018-01-04 16:17] IngoWinter commented on #85
Gut wäre das :)

[2018-01-04 16:24] staabm commented on #85
d.h. sobald der Repeater eingereift wird der chunk wiederholt, aber nur noch die teile des chunks neu berechnet die beim 1. rutsch nicht generiert werden konnten?

[2018-01-04 16:33] schuer commented on #85
Der Repeater wiederholt nochmal alle Elemente des Chucks, jedoch laufen die bereits generierten Elemente schnell durch (dafür sorgt der Media Manager, nicht Cache-Warmup), so dass der Prozess genügend Zeit für die noch nicht generierten Elemente übrig hat.

[2018-01-04 22:49] schuer commented on #85
Ich habe mit #81 sowieso ein paar Umbauten auf dem Tisch, dann würde ich den Repeater gleich mit implementieren.

[2018-02-15 21:54] AWqxKAWERbXo opened #86 "zu viele unbenötigte Cache-Bilder müllen den Webspace zu"
In der Art und Weise, wie cache_warmup funktioniert, werden ja alle Medienprofile mit allen Bildern multipliziert. Das führt dazu, dass das ganze Cache-Verzeichnis vollgemüllt wird mit Bildkombinationen, die niemals benötigt werden. Im schlimmsten Fall - und das ist uns jetzt passiert - ist der Webspace voll und nichts geht mehr.

Das ist unbefriedigend. Stattdessen sollte es einen Modus geben, de

[2018-02-26 17:35] schuer commented on #86
Das Thema wurde ganz am Anfang schonmal besprochen: #1

Aus meiner Sicht ist ein Crawler kaum sinnvoll zu implementieren:

1. Er unterliegt u. U. Restriktionen beim Zugriff (Benutzerrechte, Session, Header, UserAgent, IP, etc.)
2. Es ist vermutlich ziemlich aufwendig und/oder komplex, die zu crawlenden Ressourcen zu definieren (Inhalte aus YForm, Community, Custom-AddOns, URLs basierend auf YRewri

[2018-02-27 14:18] AWqxKAWERbXo commented on #86
Robust ist für mich nicht, wenn der Webspace überläuft und die Seite nicht mehr erreichbar ist, weil man den Cache startet. Und dass Wordpress das genauso macht, ist nicht unbedingt ein Pro-Argument ;)

[2018-02-27 15:12] schuer commented on #86
Puh, okay. Und könnte eine Lösung des Problems für dich sein, ein angemessenes Hostingpaket zu verwenden? Bei 1&1 gibt es gerade robuste 100 GB Webspace für 99 Cent im ersten Jahr. Unlimited Webspace kostet leider schon knapp 7 EUR im Monat, im zweiten Jahr sogar 10 EUR, schade!

Falls wir doch lieber den Crawler nochmal diskutieren wollen, gerne wieder öffnen. ¯\\\_(ツ)_/¯

[2018-02-27 15:28] tbaddade commented on #86
Aus diesem Grund verwende ich den CacheWarmup auch nicht. Die jetzige Lösung ist die Einfachere aber nicht wirklich zufriedenstellend.

[2018-02-27 15:39] staabm commented on #86
was ist das problem an den vielen dateien?

[2018-02-27 21:31] AWqxKAWERbXo commented on #86
@staabm

Aktuelles Szenario: Wir Hosten zahlreiche kleine Kundenwebsites in Paketen auf unserem Server. Diese zu migrieren auf verschiedene Server und den Speicherplatz zu erhöhen, damit Dateien generiert werden, die niemals abgerufen werden, ist verrückt.

Ich schätze, ich werde einfach auf das Addon in Zukunft verzichten und ggf. eine Webspider-App anschmeißen, der einmal alle tatsächlich benöti

[2018-02-27 21:34] staabm commented on #86
D.h. Dein webspace ist winzig oder du hast wirklich 50gb bilder mit cache warmup erzeugt?

[2018-02-27 21:36] AWqxKAWERbXo commented on #86
hab's oben ergänzt.

20 GB sind jetzt nicht gerade winzig, dafür, dass tatsächlich nur 500-1000 MB benötigt würden.

[2018-02-27 21:43] AWqxKAWERbXo commented on #86
Nur, dass wir uns da nicht missverstehen:

Sagen wir, ich habe 5 verschiedene Anwendungen, Bilder auszugeben: hero, thumbnail (gallery), thumbnail (category), fullscreen, project_detail. Alle 5 Bildtypen bringen 2-3 verschiedene Auflösungen mit, Retina und ohne, um das Picture-Element mit entsprechenden srcset-Bildern auszuliefern.

Macht 5x3x2=30 Cache-Bilder pro Medium (+ Backend-Medienpool-Prof

[2018-02-27 21:56] staabm commented on #86
Hmm vllt solltest du dann kein cache warmup benutzen. Das system wird dir anlegen was gebraucht wird und du musst dich nicht über 500-1000mb dateien „ärgern“.

[2018-02-27 22:06] AWqxKAWERbXo commented on #86
Wohl wahr
(Fürs Protokoll: Ich ärgere mich über 20GB, nicht über 1GB)

[2018-02-28 01:49] schuer commented on #86
Nochmal: Besagter Spider wird nicht ansatzweise zuverlässig deinen Cache vorbereiten können, denn dafür müsste er alle Seiten und Inhalte kennen, die von REDAXO generiert werden, müsste sie in allen Kontexten und Modi erfassen und auf sie zugreifen dürfen, und müsste dann alle darauf verwendeten Medien in allen Kontexten und Modi erfassen und auf sie zugreifen dürfen.

Selbst wenn wir uns eine ima

[2018-02-28 06:56] tbaddade commented on #86
Eventuell kann man Abhängigkeiten zu den Medienpoolkategorien herstellen.

Außerdem wäre es gut, wenn man CacheWarmup eigene Pfade beibringen könnte. So sehen unsere Bildpfade wegen dem picture/source aktuell so aus
`/images/mediatype/400/bild.jpg`
`/images/mediatype/800/bild.jpg`
`/images/mediatype/1600/bild.jpg`

bzw. als Rohurl
`/index.php?rex_media_type=mediatype&rex_media_file=bild.jpg-yakme-

[2018-02-28 08:23] staabm commented on #86
wie hängt das mit dem urpsr. hier diskutierten problem zusammen?

[2018-02-28 08:28] tbaddade commented on #86
Das dadurch viel weniger Cachedateien generiert werden?

[2018-02-28 09:26] staabm commented on #86
mit den infos aus https://github.com/FriendsOfREDAXO/cache_warmup/issues/86#issuecomment-369140148 ist das für mich nicht ersichtlich. ich verstehe nicht was du damit sagen willst.

[2018-02-28 09:29] tbaddade commented on #86
Das sind zwei Punkte
- Einmal einen Bezug eines Mediatypen zu einer Kategorie herstellen, so dass bspw. Sliderbilder die in einer Kategorien "Slider" liegen nur mit dem Slidermediatypen "vorgecached" werden.

Der andere Punkt ist, dass man CacheWarmup auch gezielt eigene Urls beibringen müsste, so dass ggf obige Urls ebenfalls vom AddOn erfasst werden.

[2018-02-28 09:44] gharlan commented on #86
@staabm bei dem zweiten Punkt von Thomas geht es um dieses Thema: https://github.com/redaxo/redaxo/issues/1635

Wenn man Ansatz 1 oder 2 verwendet, kann man Cache-Warmup nicht mehr sinnvoll nutzen, da Cache-Warmup natürlich nichts von den virtuellen Typen/Dateinamen weiß.

[2018-02-28 09:57] gharlan commented on #86
Zum eigentlichen Thema hier im Issue: Wenn unnötig 20 GB Bilder entstehen, würde mich das ehrlich gesagt auch stören. Kann gar nicht genau sagen, was mich dran stören würde, aber ich würde dann Cache-Warmup glaube ich auch nicht nutzen.

An den Spider-Ansatz glaube ich allerdings auch nicht wirklich.

Ich finde hingegen den Ansatz mit den Kategorien gar nicht so verkehrt (habe es [hier](https://gi

[2018-02-28 15:37] IngoWinter commented on #86
Der Kategorieansatz hat nur einen Schönheitsfehler - Redakteure :)

[2018-02-28 15:39] gharlan commented on #86
Wobei Cache-Warmup ja nichts wirklich kritisches ist. Es wäre also aus meiner Sicht nicht schlimm, wenn manche Bilder dann nicht vor-erzeugt würdem, da sie in einer falschen Kategorie sind. Oder wenn es deswegen ein paar Bilder zu viel gäbe.

[2018-02-28 15:42] gharlan commented on #86
Oder wir schaffen nur einen EP oder so, über den man die zu erzeugenden Bilder filtern kann. Dann kann sich jeder selbst eine Logik überlegen.
Ich glaube, diesen Weg würde ich bevorzugen.

[2018-02-28 15:47] staabm commented on #86
das macht vllt sinn.. dass man einne EP auslöst pro bild was generiert würde und mann kann in der extension enscheiden ob das bild generiert werden soll, oder übersprungen.

[2018-02-28 15:48] tbaddade commented on #86
Ich finde beides sinnvoll. Ich denke kaum, dass man für jedes neue Projekt immer wieder eine separate Logik erstellt. Da wäre mit der Kategorieansatz schon lieber, da einfacher zu händeln.

[2018-02-28 15:51] gharlan commented on #86
Den eigenen Ansatz legt man sich dann in sein Team-eigenes Standard-Addon, in unserem Fall yakme.

[2018-02-28 16:01] IngoWinter commented on #86
Ich glaub auch ehrlichgesagt, dass im Großteil aller Projekte die bisherige Arbeitsweise des Addons nicht weiter stört. Die 20GB von Alex klingen schon nach einer recht bild- und effektreichen Website.

[2018-02-28 16:05] gharlan commented on #86
Es gibt sogar schon einen EP zum Filtern: https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/selector.php#L138

Vielleicht reicht der mir sogar schon, muss ich ggf. mal testen.

[2018-02-28 16:07] gharlan commented on #86
Ach nee, darüber lassen sich nur Bilder als ganzes ausschließen, wir möchten aber ja nur bestimmte Kombis aus MM-Typ und Bild ausschließen. Das ist damit nicht möglich.

Wenn man es so macht, wie @staabm sagt, also ein EP-Aufruf pro zu erzeugendes Bild, dann müsste hier noch ein EP hin: https://github.com/FriendsOfREDAXO/cache_warmup/blob/master/lib/generator_images.php#L44

[2018-03-22 10:55] phoebusryan opened #87 "Funktioniert der noch?"
Ich habe in letzter Zeit mehrfach auf unterschiedlichen Servern versucht das Addon zu nutzen und jedesmal kam die Meldung, dass ein Fehler aufgetreten ist ... mit einem Link zu einer Fehlerseite, die aber wenn ich sie anschauen will komplett weiss ist... Hab die neuste Version und das neuste Redaxo.

[2018-03-22 11:34] schuer commented on #87
Grundsätzlich sollte es funktionieren, ja. Wenn es mal nicht funktioniert, ist meist zu wenig RAM für die Bildgenerierung die Ursache. Und dann sind zwei Dinge beim Warmup etwas ungeschickt:

1. Warmup bricht ab. Schöner wäre, wenn es trotz Fehlern bis zum Ende durchliefe und danach Bescheid gäbe, dass unterwegs was geklemmt hat.
2. Die Fehlerseite ist nicht hilfreich, enthält keine sinnvolle Ausg

[2018-03-22 11:34] #87 closed, assigned to nobody

[2018-03-22 11:41] schuer opened #88 "EP zum Filtern der zu generierenden Objekte"
Diskussion in #86: Es sollte ein EP vorm Generieren der Cachefiles eingebaut werden, über den man bei Bedarf einhaken und steuern kann, welche Files womöglich nicht generiert werden sollen.

Speziell bei Medien geht es darum, gezielt Medientypen überspringen zu können, um die Anzahl der Cachefiles und den benötigten Speicherplatz zu reduzieren (etwa: Bilder der Kategorie A nicht mit den Medientype

[2018-05-29 10:03] AWqxKAWERbXo commented on #85
Ich bitte darum, hier eine Optionsseite zu bieten.

In unserem Fall hat der Cache-Warmup bei 33 Seiten, die gleichzeitig generiert wurden, abgebrochen - nicht jedoch, wenn diese einzeln generiert wurden.

[2018-05-29 10:34] schuer commented on #85
Der Repeater würde das Problem eigenständig lösen, so dass keine Chunk-Konfiguration notwendig wäre und dem AddOn nachwievor eine Config-Page erspart bliebe. Das fände ich persönlich sehr sinnvoll.

Die notwendigen Umbaumaßnahmen – nicht nur für den Repeater – sind allerdings sehr aufwendig, und dafür fehlt mir aktuell leider Zeit und Muße, deshalb hatte ich das Assignment des GitHub-Issues wieder

[2018-05-29 18:41] schuer commented on #77
Ich habe das jetzt mal hin und her getestet mit SSL und ohne. Am AddOn scheint es nicht zu liegen, sondern vermutlich wirklich an deinem Setup, und dass dort Redirects stattfinden und/oder Ressourcen mittels http eingebunden werden.

Bei Bedarf gerne nochmal öffnen.

[2018-05-29 18:41] #77 closed, assigned to schuer

[2018-05-29 18:49] schuer opened #89 "Bedienung über Konsole implementieren"
![kapture 2019-01-06 at 10 44 07](https://user-images.githubusercontent.com/1297466/50739832-b26a3a80-11e5-11e9-885c-00b7142ed54a.gif)

Im Branch `console` gibt es bereits einen recht fortgeschrittenen Stand. Allerdings wird noch die Fehlerbehandlung und der anschließende Report benötigt.

## Ziele

- Alle Fehler und Exceptions abfangen, so dass der Warmup-Prozess in jedem Fall bis zum Ende durchl

[2018-05-30 07:12] fietstouring commented on #77
Sorry, hab ganz drauf vergessen das nochmal zu testen... Scheint aber nicht so wichtig gewesen zu sein... Danke

Am 29. Mai 2018 20:41:52 MESZ schrieb "Dirk Schürjohann" <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-06-04 15:52] schuer commented on #86
Siehe PR #90

[2018-07-14 20:50] #86 closed, assigned to nobody

[2018-07-14 20:50] #88 closed, assigned to nobody

[2018-07-15 10:22] schuer opened #92 "Debug-Modus an REDAXO hängen"
Aktuell kann man den Debug-Modus direkt im JS aktivieren:
https://github.com/FriendsOfREDAXO/cache_warmup/blob/28e78e0e90fa10074069052e3ff15c43f5c162d7/assets/js/cache-warmup.js#L4

Sinnvoller wäre, ihn an den REDAXO-Debug-Modus zu hängen, so dass er aus dem Backend heraus aktiviert wird.

[2018-07-15 10:30] helpy opened #93 "Fehlermeldung bei Multi-Domain-Site mit yrewrite"
Ich habe yrewrite mit zwei Domains (www.example.com und sub.example.com) eingerichtet.
Melde ich mich im Backend nur mit www.example.com/redaxo an, dann wird eine Fehlermeldung ausgegeben:

Der Link zur Feherlseite führt zur Startseite der zweiten Domain sub.example.com.

Wenn ich mich aber vorher bei beiden Domains unter Redaxo anmelde (www.example.com/redaxo und sub.example.com/redaxo), dann läu

[2018-08-14 14:13] schuer commented on #93
@helpy Ich kann dein Problem hier lokal leider nicht nachvollziehen. Habe zwei Domains angelegt, `test1.local` und `test2.local`, die mit einem aktuellen REDAXO 5.6.2 und der Basis-Demo laufen. Dazu habe ich ein aktuelles YRewrite installiert und so konfiguriert, dass `test1` die Demo auf Deutsch zeigt, `test2` die Demo auf Englisch. Cache-Warmup funktioniert problemlos auf beiden Domains, egal ob

[2018-08-14 14:23] schuer commented on #93
Achso, noch eine Frage: Fliegt der Fehler beim Generieren von Bildern oder von Seiten? Das siehst du an der URL des Links zur Fehlerseite. Der Parameter am Ende beginnt entweder mit `?images=` oder mit `?pages=`. Und wie ist dein YRewrite eingestellt, zeigen deine Domains auf unterschiedliche Sprachen, so wie in meinem Setup?

[2018-08-17 20:44] helpy commented on #93
* Redaxo 5.6.2
* YRewrite 2.3
* Cache-WarmUp 3.3.1

Ja.

Ich nehme an, dass das beim Generieren der Bilder passiert, da die Fortschrittsanzeige der Seiten (1 von 26, 2 von 26, ... 26 von 26) bis zum Ende durchläuft, aber die Fortschrittsanzeige der Bilder nicht mehr angezeigt wird. Das ist aber nur eine Vermutung. Fehler könnte ja auch bei der letzten Seite auftreten.

Seltsam finde ich folgende F

[2018-08-17 20:53] helpy commented on #93
Aaaah ... ich habe die Ursache gefunden.

Ich habe auf einer Seite der Hauptdomain "www.meine-domain.tld" das Modul "05-1 Artikelweiterleitung" aus dem Addon "D2U Helper" in Verwendung. Der Artikel, auf den weitergeleitet wird, befindet sich in der Sub-Domain. Wenn ich die Weiterleitung herausnehme, dann funktioniert alles!

Ob, das nun ein Fehler oder eine Einschränkung ist, kann ich nicht beurte

[2018-08-17 21:09] helpy commented on #93
Nein! Keine unterschiedlichen Sprachen.

Es gibt eine Hauptdomain (Musikverein) und eine Sub-Domain für eine Gruppe von Musikern, wo Termine für diese Gruppe, Noten, MP3s und sonstiges verteilt werden. In der Hauptdomain gibt es eine Kategorie mit einer Weiterleitung (Modul Artikelweiterleitung) im Startartikel, damit ich über das Menü von der Hauptseite zur Sub-Domain komme.

Ich bin aber dabei,

[2018-08-17 21:10] helpy commented on #93
ACH ja!

@schuer
Vielen Dank für Deine Fragen!
Dadurch konnte ich die Ursache lokalisieren :-)

[2018-08-18 08:32] schuer commented on #93
Gut, dass du den Fehler gefunden hast! Ich würde dann hier schließen, denn das CORS-Problem aufgrund der unterschiedlichen Domains ist kein Bug des AddOns und kann hier nicht behoben werden. Zudem wird das AddOn gerade dahingehend umgebaut, dass es nicht mehr mit Fehlern abbricht, sondern immer vollständig durchläuft und am Ende eine Info zeigt, ob unterwegs was schiefgegangen ist.

[2018-08-18 08:32] #93 closed, assigned to nobody

[2018-08-18 08:48] helpy commented on #93
Vielen Dank Dirk,
für den kleinen Ausblick.

Ich habe das mit der Weiterleitung nun anders gelöst und das Addon läuft jetzt durch.

Gruß aus Niederbayern,
Guido

[2018-08-30 07:47] olien opened #95 "YRewrite: Call to a member function getTitle() on null"
![image](https://user-images.githubusercontent.com/330516/44837366-c1d6e700-ac39-11e8-856e-0fb929ae4eb5.png)

[2018-09-25 10:07] maxmoeller opened #96 "Probleme mit YRewrite und Multi-Domain-Setup"
Nach Update auf Version 3.3.1

Erhalte ich beim Klicken auf "Cache jetzt gen.." => "Verdammt, etwas ist schief gelaufen! ...."

nginx error.log

[code]

Re-Install wurde durchgeführt
De-Install + Löschen + Neu-Install wurden durchgeführt

Gleiche Resultat

Downgrade auf 3.2 => Gleiche Resultat im Log

Versionen:
REDAXO  5.6.2
PHP 7.0.31
MySQL 5.5.5-10

[2018-09-25 10:21] staabm commented on #96
gibts im systemlog bissl mehr infos (wo die notice auftaucht)?

hast du auch ein "hartes problem" irgendwo, dass was nicht mehr geht, oder ist es nur diese "störende notice"?

[2018-09-25 12:22] bloep commented on #96
ich nehme an, dass es die Zeile sein wird.
https://github.com/FriendsOfREDAXO/cache_warmup/blob/28e78e0e90fa10074069052e3ff15c43f5c162d7/lib/selector.php#L243

[2018-09-25 18:08] staabm commented on #96
Ohh ja, gut möglich. Ich sprech mal für Dirk: PR welcome

[2018-09-27 13:17] maxmoeller commented on #96
Danke, erhalte im FE den Fehler

[code]

im Nginx error | access.log steht nicht viel mehr als das gesendete, vermute mal das der Cache nicht generiert wird, somit nicht unbedingt ein "hartes Problem"

access.log
[code]

error.log
[code]

Ich weiß die Logs sind nicht  hilfreich, da ich das Projekt von einer Agentur hingeklatscht bekommen habe, fehlt es mir persönlich an den Redaxo Erfahrungen. gib

[2018-09-27 15:09] schuer commented on #96
Hey @maxmoeller, danke fürs Melden! Mir scheint, irgendwo auf einer Seite (oder auch mehreren) fliegt ein Fehler, weshalb Cache-Warmup abbricht. Man sieht es in deinem access.log bei `/redaxo/index.php?page=cache_warmup/generator&pages=1.1,2.1,3.1,4.1,5 …`. Dieser Fehler wird vermutlich auch auftauchen, wenn du die entsprechende Seite manuell im Browser aufrufst, und nicht nur, wenn der Warmup drü

[2018-09-28 10:12] maxmoeller commented on #96
Als Feedback auf die Antwort

Mit der Zeile läuft es wie geschrieben, danke hierfür.

Während des Durchgangs füllt sich das Log mit dem Fehler und bricht abschließend mit "502 Bad Gateway" ab.
[code]
Denke der Fehler liegt hier an anderer Stelle.

Danke für die prompte Untersützung!

[2018-09-28 10:37] schuer commented on #96
Danke fürs Debuggen, @maxmoeller! Jetzt sind wir einen Schritt weiter. Offenbar läuft die Generierung aller Seiten nun problemlos durch, wenn du sie einzeln anforderst. Das deutet auf einen vorherigen Timeout hin, dass also zuvor das Generieren der Seiten zu lange gedauert hat und damit die max execution time erreicht worden ist. Einzeln durchlaufen fliegt kein Timeout mehr, und die bist nun beim

[2018-09-28 12:25] iamjonasmarlo commented on #96
Hallo zusammen,
ich habe das selbe Problem.

Redaxo 5.6.3
PHP 7.2.4

Ich habe sowohl `$this->setConfig('chunkSizePages', 1);` als auch `$this->setConfig('chunkSizeImages', 1);` in die `boot.php` integriert, leider ohne Erfolg.
Das generieren des Caches beginnt und bricht nach ungefähr einer halben Sekunde mit der selben Fehlermeldung ab.

Die Fehlerseite, welche mir angeboten wird, ist komplett le

[2018-09-28 12:37] schuer commented on #96
@iamjonasmarlo Danke auch für deine Meldung! Freue mich immer, wenn hier Feedback kommt.

An der URL zur Fehlerseite siehst du, welche Objekte nicht generiert werden konnten. Die URL beginnt mit `/redaxo/index.php?page=cache_warmup/generator&pages=…` (pages) oder `/redaxo/index.php?page=cache_warmup/generator&images=` (images), wobei die Pages zuerst generiert werden. Ich vermute, du hast irgendwo

[2018-09-28 13:09] iamjonasmarlo commented on #96
@schuer Vielen Dank für dein schnelles Feedback! :) Ist leider echt selten, dass einem so schnell und vor allem so gerne geholfen wird. Danke dafür!

Folgende URL wird mir ausgeworfen:
`/redaxo/index.php?page=cache_warmup/generator&pages=1.1`

Die Seite mit der ID 1 ist meine Startseite und funktioniert ohne Probleme im Frontend. Seltsam...

Edit:

Ich verwende Redaxo mit YRewrite. In meinem Fall

[2018-09-28 13:56] schuer commented on #96
@iamjonasmarlo Danke für den Hinweis mit YRewrite! Sehr gut möglich, dass es an dem Setup liegt. Cache-Warmup selektiert alle im CMS angelegten Einzelseiten, unabhängig von irgendwelchen Zugriffsrechten. Wenn nun YRewrite abhängig von der aufgerufenen Subdomain den Zugriff eingrenzt, kann gut sein, dass Cache-Warmup Fehler produziert, wenn es versucht, auf Bereiche außerhalb der Subdomain zuzugrei

[2018-09-28 14:01] iamjonasmarlo commented on #96
@schuer Trotzdem vielen Dank für deine Hilfe! Vielleicht gibt es ja in naher Zukunft einen Fix. Bis dahin!

[2018-09-28 14:20] schuer commented on #96
Eine neue Version 3.4.0 wurde übrigens gerade veröffentlicht, die den oben genannten Bugfix (entdeckt von @bloep, gefixt von @staabm) enthält. Die beiden Issues hier in der Diskussion wird sie aber sicherlich nicht beheben.

[2018-10-01 13:44] maxmoeller commented on #96
Kurzes Update:

Habe heute das Update auf Redaxo 5.6.4 gemacht und Cache-Warmup auf 3.4. Keine Änderungen an der Serverkonfiguration durchgeführt und der Cache wurde generiert.

[code]

Da RAM etc ein Thema war, PHP.ini

[code]

Serverlast war insgesamt minimal, kein SWAP etc.

Bezüglich dem YRewrite - nutzen wir in einem Multi-Domain-Setup - ist mir aufgefallen, das Cache-Warmup nur auf der initi

[2018-10-01 15:35] schuer commented on #96
Super dass es durchgelaufen ist, @maxmoeller. Vielleicht lag es doch an dem Bugfix von @bloep und @staabm, denn es vorher wurden die Medieninstanzen nach Benutzung nicht ordentlich aufgeräumt, und vielleicht ist dadurch der RAM zu voll gelaufen.

Das Problem mit YRewrite und Multi-Domain schaue ich mir an. Es scheint ja der gleiche oder ein ähnlicher Fehler wie bei @iamjonasmarlo zu sein. Danke fü

[2018-10-01 15:39] schuer commented on #95
Hey @olien, die Meldung kommt als Whoops, wenn du Cache-Warmup laufen lässt, dieses abbricht und du dann den Link auf die Fehlerseite aufrufst?

[2018-10-01 16:12] schuer commented on #85
Weil die JS-Umstellung etwas aufwendiger ist (aus Callback-Hölle müssen Generators/Promises oder sogar async/await werden), könnt ihr solange den Cache-Warmup etwas ausbremsen, falls er euch um die Ohren fliegt. In der `boot.php` des project-AddOns folgendes anbringen, wobei ihr den Wert von `$throttle` auf einen beliebigen Prozentwert (100 entspricht volle Geschwindigkeit) verändern könnt:

[code

[2018-10-01 18:05] AWqxKAWERbXo commented on #85
Wieso so kompliziert? wenn ich zum Beispiel wissen möchte, welches Bild oder welcher Artikel ein Problem macht, dann möchte ich genau ein Medium oder einen Artikel einzeln generiert sehen.

[2018-10-01 22:02] schuer commented on #85
Alex, dann schreibst du als Value einfach eine 1 hin. Nur wird der Warmup dann sehr lange benötigen, weil pro Request nur ein Cachefile generiert wird.

[2018-10-05 18:16] #92 closed, assigned to schuer

[2018-12-21 10:54] AWqxKAWERbXo commented on #85
#99 ist mein Vorschlag dazu, das über die GUI zu machen und damit den "Link zur Fehlerseite" wieder einen sinnvollen Nutzen zu geben.

[2019-01-02 18:35] schuer opened #100 "README.md als Hilfeseite integrieren"
In der README stehen einige nützliche Dinge, etwa der Umgang mit Fehlern und die verschiedenen Extension Points. Es wäre sicherlich praktisch, die direkt im REDAXO-Backend zu haben.

[2019-01-02 18:36] #100 closed, assigned to schuer

[2019-01-02 19:55] schuer commented on #95
@olien? Ist das noch aktuell? Und war es nicht eher ein YRewrite-Fehler, den Cache-Warmup lediglich aufgedeckt hat? ;)

[2019-01-02 20:15] AWqxKAWERbXo commented on #95
Definitiv kein cache_warmup-Fehler, sondern eine Fehlkonfiguration von oder Fehlfunktion in YRewrite.

[2019-01-02 21:46] schuer commented on #95
Danke, dann schließe ich hier, und du machst wieder auf, falls es doch noch akut ist und mit Cache-Warmup zu tun haben könnte, okay Olli?

[2019-01-02 21:46] #95 closed, assigned to nobody

[2019-01-03 19:41] schuer opened #101 "CSRF-Token nutzen"
Beim Request auf den Generator sollte ein CSRF-Token mitgegeben und validiert werden, bevor die Cachefiles generiert werden.

[2019-01-04 13:20] #101 closed, assigned to schuer

[2019-01-06 18:06] schuer commented on #89
Es wäre großartig, wenn jemand die Fehlerbehandlung umsetzen könnte. Mir fehlt dafür die Erfahrung mit solchen PHP-Prozessen. Ich kann aber gerne am Ende den Report erstellen, wenn gewollt.

Ping an @staabm @gharlan @bloep, aber natürlich sollen sich auch alle anderen angesprochen fühlen, die sich die Implementierung zutrauen. 👍

[2019-01-06 19:13] gharlan commented on #89
In der console stellen wir die max_execution_time immer auf unendlich, dieses Problem sollte es also in der Console nicht geben.
https://github.com/redaxo/redaxo/blob/master/redaxo/src/core/console.php#L3

[2019-02-03 11:39] schuer opened #103 "Mit YForm 3 testen und Conflicts anpassen"
Cache-Warmup erwartet zur Zeit noch YForm 2, das ist in der `package.yml` unter `conflicts` definiert: https://github.com/FriendsOfREDAXO/cache_warmup/blob/a24b590a475d0c4966c739d023577cf7825563e7/package.yml#L40

TODO:
1. Prüfen, ob Cache-Warmup für die Verwendung mit YForm 3 angepasst werden muss, ob sich also an den Feldtypen etwas geändert hat: https://github.com/FriendsOfREDAXO/cache_warmup/b

[2019-02-03 11:52] AWqxKAWERbXo commented on #103
Wieso erfordert cache warmup überhaupt yform?

[2019-02-03 11:54] schuer commented on #103
Es erfordert es nicht (siehe [requires](https://github.com/FriendsOfREDAXO/cache_warmup/blob/a24b590a475d0c4966c739d023577cf7825563e7/package.yml#L29-L31)), aber es selektiert dessen Medien, sofern installiert, und es vermutet einen Conflict bei einem Major-Update (so wie jetzt von 2 auf 3). Es könnte ja sein, dass sich dabei die Feldbezeichnungen ändern und dann womöglich im Warmup Fehler fliegen

[2019-02-03 13:11] AWqxKAWERbXo commented on #103
Ich will nicht die Hand dafür ins Feuer legen, aber dahingehend hat sich bei den Medien nichts verändert.

[2019-02-10 13:58] #103 closed, assigned to nobody

[2019-02-26 15:34] tbaddade opened #104 "Fehler in der Konsole - TypeError: data.substr"
Sobald das Popup aufgeht, erscheint folgender Fehler:

[2019-03-02 22:25] schuer commented on #104
@tbaddade Ich kann das Problem leider nicht nachvollziehen. Kannst du weitere Angaben machen, wie es dazu kommt? Welcher Browser, welches REDAXO? Gibt es in der Konsole weitere Hinweise auf Fehler? Irgendwelche Besonderheiten an der REDAXO-Installation, die sowas auslösen könnten?

[2019-04-01 20:38] schuer commented on #104
Ping @tbaddade

[2019-10-09 13:56] AWqxKAWERbXo opened #106 "Problem mit aktuellem YRewrite: 404"
Siehe
https://github.com/yakamara/redaxo_yrewrite/issues/301
404 in cache_warmup bei yrewrite

Ggf. bei @tyrant88 nachfragen, da wurde es meines Wissens für search_it gelöst.

[2019-10-10 20:03] #106 closed, assigned to nobody

[2019-10-10 20:05] schuer commented on #106
Danke für den Hinweis. Sollte hiermit gefixt sein.
(Nebenbei: YRewrite hätte aufgrund dieser Breaking Changes nicht 2.6 sondern 3.0 sein müssen.)

[2019-10-10 20:34] tyrant88 commented on #106
ich hab keinen Schimmer worum es hier geht :-)

[2019-10-10 20:39] schuer commented on #106
Ich auch nicht ;)

[2020-04-06 19:51] tbaddade commented on #104
Ich kann nicht mehr sagen wann das genau passierte und mir fehlt auch gerade der Bezug zu dem  Projekt. Sorry für mein fehlendes Feedback @schuer

Ich schließe

[2020-04-06 19:51] #104 closed, assigned to schuer

[2020-09-30 19:24] schuer opened #107 "jQuery.Deferred exception: Handlebars (R 5.11)"
die console wirft folgenden fehler:

[code]

und

[code]

es handel sich um eine seite, die ich gerade frisch von rex 5.9 auf 5.11 aktualisiert habe... unter 5.9 läuft es noch

[2020-09-30 20:11] schuer commented on #107
Hat sich erledigt.

[2020-09-30 20:11] #107 closed, assigned to nobody

[2021-04-14 16:50] chandany opened #108 "Internal Server Error (500)"
Error thrown with message "Call to a member function getArticles() on null"

Stacktrace:
#23 Error in rex:///module/52/output:3
#22 require in /is/htdocs/wp10474332_WNF97EX2G2/www/redaxo/redaxo/cache/addons/structure/120.1.content:111
#21 require in /is/htdocs/wp10474332_WNF97EX2G2/www/redaxo/redaxo/src/addons/structure/plugins/content/lib/article_content.php:99
#20 rex_article_content:getArticle

[2021-04-14 19:09] schuer commented on #108
Hi @chandany, du hast vermutlich einen Fehler in deinem Modul mit der ID 52 oder deinem Template mit der ID 3. Cache-Warmup deckt diese nur auf, aber sie sollten vermutlich auch entstehen, wenn du die Website an der passenden Stelle aufrufst.

[2021-11-20 17:06] #108 closed, assigned to nobody

[2022-01-15 12:19] schuer opened #109 "Neuer EP `CACHE_WARMUP_CREATE_IMAGE_BEFORE` zum Umgang mit responsive Medientypen (Yakme)"
Nach Feedback von @tbaddade im Slack.

Aktuell können mittels EP `CACHE_WARMUP_IMAGES_WITH_MEDIATYPES` Bilder samt Medientyp hinzugegeben werden. Cache Warmup prüft jedoch anhand des Dateinamens, ob das Bild existiert, bevor die Cachefiles generiert werden. Yakme nutzt spezielle Medientypen, die einen Effekt enthalten, der anhand von Suffixen am Dateinamen die zugehörigen Bilder generiert, z. B.

[2022-02-04 16:25] FettFee opened #110 "Fehlermeldung "Cannot declare class rex_custom_nav, because the name is already in use""
Servus,

sobald der Button "Cache jetzt generieren" gedrückt wird, kommt die o.g. Fehlermeldung.

[code]

[2022-02-05 21:33] AWqxKAWERbXo commented on #110
Kann es sein, dass es daran liegt, dass die Klasse in deinem Code zweimal vorhanden ist?

[2022-03-28 15:21] chandany commented on #108
Vielen Dank. Hatte das hier aus den Augen verloren. ;)

[2022-06-12 13:16] schuer commented on #110
Hey @FettFee, danke fürs Melden! Es handelt sich vermutlich um kein Problem von Cache Warmup, sondern das AddOn deckt die bereits vorhandenen Fehler lediglich auf, wenn es die Seiten aufruft, um den Cache zu generieren. In deinem Fall ist offenbar `rex_custom_nav` ein Problem – womöglich kommt es doppelt vor, wie Alex sagt.

[2022-06-12 13:16] #110 closed, assigned to nobody

[2022-06-12 13:29] #28 closed, assigned to nobody

[2022-07-09 17:02] schuer commented on #109
Mit etwas Abstand halte ich die oben beschriebene Lösung, einen weiteren EP zu ergänzen, für nicht sinnvoll.

Zum einen macht es die Sache komplexer, statt einfacher. Das sollte niemals das Ziel sein, und wir sollten vielmehr daran arbeiten, Komplexität zu vermindern.

Zum anderen versucht der EP am Ende der Kette ein konzeptionelles Problem zu beheben, das sich viel besser weiter vorne lösen ließ

[2022-08-07 15:49] AWqxKAWERbXo commented on #96
Läuft bestens durch auf 2 verschiedenen Multidomain-Projekten

[2022-08-07 15:49] #96 closed, assigned to nobody

[2022-08-07 16:12] AWqxKAWERbXo commented on #85
Fürs Protokoll, in https://github.com/alexplusde/media_manager_responsive/ nutze ich das und gehe mit dem Warm-Up konzeptionell anders an das Thema ran.

1. Es wird nur ein Artikel pro Request generiert
2. Bilder-Warmup vom Cache-Warmup wird komplett deaktiviert, weil
3. Beim Einsatz von media_manager_responsive die Cache-Files im Aufruf des Artikels erstellt werden.

Cache-Warmup hat von Haus aus

[2022-08-09 19:13] schuer commented on #89
Das Thema Konsole wird vermutlich nicht weiter verfolgt werden; zumindest von mir nicht. Wer möchte, kann gerne wieder öffnen und/oder dran arbeiten.

Die Generierung von Artikeln innerhalb der Konsole ist problematisch, weil der Kontext ein anderer ist als beim Aufruf durch den Browser. Das betrifft Sessions und ggfls. manche andere Stellen innerhalb REDAXOs. Das eigentliche Ziel, zu prüfen, ob a

[2022-08-09 19:13] #89 closed, assigned to nobody

[2022-08-09 19:17] schuer commented on #81
Die Erkenntnisse aus diesem Issue sind sicherlich inzwischen obsolet. Es gibt Pläne, die Frontend-App grundlegend zu überarbeiten, und dieses Issue kann dabei nicht helfen, deshalb schließe ich hier.

[2022-08-09 19:17] #81 closed, assigned to nobody

[2022-10-18 23:15] AWqxKAWERbXo opened #114 "URL2 unterstützen / Auf Basis von URLs / Sitemaps durchlaufen / EP sollte URLs unterstützen"
**Feature description / Feature Beschreibung**
Aktuell werden nur REDAXO-Artikel gecacht, nicht jedoch URL2-generierte URLs. Diese haben zwar keinen Artikel-Cache im klassischen Sinne, sollten aber dennoch aufgerufen werden, um bspw. Caching-Dateien des Medien-Managers zu erzeugen.

URLs aus dem URL2-Addon oder über eigene Mechanismen können sich nicht in cache_warmup einhängen, da es nur eine Mög